@use '/src/styles/common';

.link {
  border-radius: var(--radius-small);
  overflow: hidden;
  position: relative;

  @include common.mediaquery('desktop') {
    &:focus {
      outline: none;
      box-shadow: 0 0 0 5px var(--color-primary), 0 0 0 9px var(--color-accent);
    }
  }
}

.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-overlay);
}

.image {
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  height: 10rem;
  object-fit: cover;

  @include common.mediaquery('desktop') {
    object-fit: contain;
    height: 15rem;
  }
}


.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: var(--color-overlay);
  color: rgb(255, 255, 255);
  opacity: 0;
  transition: opacity var(--transition-fast);


  @include common.mediaquery('desktop') {
    &:hover {
      opacity: 1;
    }
  }
}

.count {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 3rem;
}