@use '/styles/common.scss';

.container {
  width: clamp(20rem, 70%, 80rem);
  margin: 2rem auto;
  margin-bottom: 4rem;
}

.form {
  display: grid;
  gap: 1.5rem;
  margin-top: 2rem;

  @include common.mediaquery('desktop') {
    width: 50%;
    margin: 0 auto;
    margin-top: 3rem;
  }
}

.signInButton {
  text-align: center;
  justify-content: center;
  align-items: center;
}


.separator {
  height: 2px;
  background-color: var(--bg-secondary);
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;

  @include common.mediaquery('desktop') {
    width: 50%;
    margin: 0 auto;
    margin-top: 3rem;
  }
}

.orWith {
  background-color: var(--white);
  text-transform: uppercase;
  padding: 0 1rem;
  position: relative;
  top: -0.25rem;
  display: inline-block;
}

.other {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;

  @include common.mediaquery('desktop') {
    width: 50%;
    margin: 0 auto;
    margin-top: 3rem;
  }

}

.button {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;


  >svg {
    stroke-width: 3;
    width: 1.5rem;
    height: 1.5rem;
  }
}

.google {
  font-weight: 600;
  margin-left: 0.5rem;
}