@use '/styles/common';

.container {
  width: clamp(25rem, 40vw, 70rem);
  margin: 2rem auto;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  @include common.mediaquery('desktop') {
    gap: 5rem;
    margin-top: 5rem;
  }

}

.form {
  display: grid;
  gap: 1.5rem;

  @include common.mediaquery('desktop') {
    gap: 2.5rem
  }

}

.heading {
  font-size: 2.5rem;

  @include common.mediaquery('desktop') {
    font-size: 3rem;
  }
}

.signInButton {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0.6rem 0;
  font-weight: 600;
  font-size: 1.25rem;
}


.separator {
  height: 2px;
  background-color: var(--bg-secondary);
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orWith {
  background-color: var(--bg-primary);
  text-transform: uppercase;
  padding: 0 1rem;
  position: relative;
  top: -0.25rem;
  display: inline-block;
}

.other {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.otherButton {
  display: flex;
  align-items: center;
  width: 50%;
  padding: 0.75rem 0;

  >svg {
    stroke-width: 3;
    width: 1.5rem;
    height: 1.5rem;
  }
}

.googleIcon {
  font-weight: 600;
  margin-left: 0.5rem;
}