@use '/styles/common.scss';

.dropZone {
  box-shadow: var(--shadow-secondary);
  border-radius: var(--radius-small);
  background-color: var(--bg-secondary);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  transition: var(--transition);
  gap: 1rem;
  padding: 2rem 0;
  margin-top: 1rem;

  &>* {
    pointer-events: none;
  }
}

.dropZoneState {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

%commonActiveState {
  box-shadow: var(--shadow-focus);
  color: var(--color-primary);
}

.dropZoneError {
  background-color: var(--bg-error);
}

.dropZoneActive {
  @extend %commonActiveState;
}

.dropIcon {
  width: 3rem;
  height: 3rem;
}

.dropIconError {
  @extend .dropIcon;
  color: var(--color-error);
}


.buttonInput {
  border-radius: var(--radius-small);
  background-color: var(--color-primary);
  color: rgb(255, 255, 255);
  font-weight: 500;
  border: none;
  transition: all var(--transition);
  transition-property: background-color, box-shadow, transform;
  z-index: 1;
  pointer-events: all;
  border: 2px solid var(--color-primary);
  padding: 0.5rem 1rem;

  &::first-letter {
    text-transform: uppercase;
  }

  &:hover {
    cursor: pointer;
    box-shadow: var(--shadow-focus);
    transform: scale(1.05);
  }
}

.input:focus~.buttonInput {
  box-shadow: var(--shadow-focus);
}

.buttonInputDisabled {
  opacity: 0.5;
  pointer-events: none;
}