@use '/src/styles/common';

.addComment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.commentInput {
  height: 2.5rem;
  min-height: 2.5rem;
  max-height: 7rem;
  resize: vertical;
  flex-grow: 1;
  border-radius: var(--radius-small);
  padding: 0.5rem;
  border: var(--border-gray);
  transition: background-color var(--transition);
  background-color: var(--bg-primary);

  &:hover,
  &:focus {
    background-color: var(--bg-gray);
  }

  &:focus {
    outline: none;
    box-shadow: var(--shadow-focus);
  }
}