.layout {
	padding-bottom: 4rem;
	min-height: 100dvh;
	position: relative;
	@media (--large-viewport) {
		display: grid;
		grid-template-columns:
			calc(var(--navbar-desktop-margin) + var(--navbar-desktop-width))
			3fr;
		padding-bottom: 0;
		gap: 3rem;
	}
}

.container {
	margin-top: 1rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;

	@media (--large-viewport) {
		margin-top: 3rem;
		margin-right: 5vw;
		margin-bottom: 2rem;
		grid-column: 2 / 3;
	}

	@media (--xlarge-viewport) {
		margin-right: 15vw;
	}
}

.ellipse {
	position: fixed;
	top: 60vh;
	left: 0;
	width: 20rem;
	height: auto;
	z-index: -1;
	animation: fadeIn 2s ease-in-out forwards;

	@media (--xlarge-viewport) {
		top: unset;
		bottom: 1vh;
		width: 30vw;
		left: 0vw;
	}
}

.ellipseRight {
	position: fixed;
	top: 4rem;
	right: 0;
	width: 20rem;
	height: auto;
	z-index: -1;
	animation: fadeIn 2s ease-in-out forwards;

	@media (--xlarge-viewport) {
		top: 0;
		width: 30vw;
		right: 1vw;
	}
}

@keyframes fadeIn {
	from {
		filter: blur(100vw) opacity(0);
	}
	to {
		filter: blur(25vw) opacity(var(--opacity));
	}
}
