.button {
  background-color: var(--bg-primary);
  border-radius: var(--radius-small);
  padding: 0.5rem 2rem;
  border: var(--border-primary);

  &:hover {
    cursor: pointer;
  }
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-overlay);
  backdrop-filter: blur(1px);
}

.dialog {
  height: 70rem;
  padding: 2rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  background-color: var(--bg-white);
  width: max(60rem, 20%);
  border-radius: var(--radius-medium);
}