.button {
  background-color: var(--bg-primary);
  border-radius: var(--radius-small);
  padding: 0.5rem 2rem;
  border: var(--border-primary);

  &:hover {
    cursor: pointer;
  }
}



.dialog {
  height: 70rem;
  padding: 2rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  background-color: var(--bg-white);
  width: max(60rem, 20%);
  border-radius: var(--radius-medium);
}