@use '/styles/common.scss';

.list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  @include common.mediaquery('desktop') {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}

.listItem {
  display: flex;
  justify-content: center;
  align-items: center;

  @include common.mediaquery('desktop') {
    display: block;
  }
}

.listItemContent {
  display: flex;
  align-items: center;
  border-radius: var(--radius-big);
  gap: 0.75rem;

  padding: 0.5rem;
  font-size: 1.25rem;
  transition: all var(--transition);
  transition-property: background-color, box-shadow;

  svg {
    width: 1.5rem;
    height: 1.5rem;
    stroke-width: 2;
  }

  @include common.mediaquery('desktop') {
    padding: 1rem;
    padding-right: 1.5rem;
  }


  &:hover,
  &:focus {
    background-color: var(--bg-secondary);
    box-shadow: var(--shadow-focus);
    outline: none;
  }
}

.active {
  background-color: var(--bg-secondary);
  font-weight: 600;

  svg {
    stroke-width: 2.5;
  }
}

.title {
  display: none;


  @include common.mediaquery('desktop') {
    text-transform: capitalize;
    display: unset;
  }
}