.content {
  z-index: 3;
  --padding: 0.5rem;
  padding: 0.5rem;
  border-radius: calc(var(--radius-small) + var(--padding));
  background-color: var(--color-secondary);
  box-shadow: var(--shadow);
}

.arrow {
  fill: var(--color-secondary);
}
