@use '/styles/common.scss';

.container {
  position: relative;
  z-index: 1;
  width: 23rem;
  background-color: var(--bg-primary);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow-y: scroll;
  border-radius: var(--radius-small) var(--radius-small) 0 0;
  max-height: 72vh;

  @include common.mobile-landscape {
    width: auto;
    display: grid;
    overflow-y: scroll;
    grid-template-columns: 15rem 17rem;
    grid-template-rows: auto auto auto 1fr;
    border-radius: var(--radius-small);
  }

  @include common.mediaquery('tablet') {
    width: auto;
    overflow-y: unset;
    margin: auto;
    display: grid;
    max-height: 27rem;
    grid-template-columns: 27rem 18rem;
    grid-template-rows: auto auto 1fr;
    border-radius: var(--radius-medium);
  }


  @include common.mediaquery('desktop') {
    max-height: 45rem;
    grid-template-columns: 45rem 30rem;
  }
}

.likesCount {
  grid-column: 2 / 3;
}

.postButtons {
  grid-column: 2 / 3;
  padding-right: 1rem;
}


.commentsContainer {
  margin-top: 1rem;
  padding: 0.5rem 1rem;

  @include common.mobile-landscape {
    grid-column: 2 / 3;
    margin-top: 0;
    height: 3rem;
  }

  @include common.mediaquery('desktop') {
    grid-column: 2 / 3;
  }
}

.commentsList {
  height: auto;
  overflow-y: scroll;
  display: flex;
  overflow-y: auto;
  flex-direction: column;

  @include common.mobile-landscape {
    grid-column: 2 / 3;
    height: 5em;
  }

  @include common.mediaquery('tablet') {
    max-height: 20rem;
  }


  @include common.mediaquery('desktop') {
    grid-column: 2 / 3;
    height: 100%;
    margin-top: 1rem;
    max-height: 30rem;
  }
}

.slider {
  grid-row: 1 / 4;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;


  @include common.mediaquery('desktop') {
    height: 100%;
    border-right: 1px solid var(--color-gray);
  }
}

.sliderImage {
  z-index: 2;
  height: 100%;
  object-fit: contain;
  width: 23rem;
  max-height: 23rem;

  @include common.mobile-landscape {
    width: 15rem;
    max-height: 15rem;
  }

  @include common.mediaquery('tablet') {
    width: 27rem;
    max-height: 27rem;
  }

  @include common.mediaquery('desktop') {
    width: 45rem;
    max-height: 45rem;
  }
}