.list {
	display: flex;
	list-style: none;
	gap: 1rem;
	margin-top: 1rem;
}

.listItem {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 0.25rem;
	overflow: hidden;
}

.button {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	font-size: 1.25rem;
}

.downloadItem {
	margin-left: auto;
}

.buttonsCount {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.placeholder {
	height: 2rem;
	margin-top: 0.5rem;
	border-radius: var(--radius-small);
	width: 6rem;
	background-color: var(--color-primary);
}
