@use "styles/common";

.previewContainer {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  @include common.mediaquery("desktop") {
    gap: 3rem;
  }
}

.previewButton {
  border: none;
  background-color: transparent;
  display: flex;
  border-radius: var(--radius-small);
  justify-content: center;
  align-items: center;
  position: relative;
}

.imgPreview {
  object-fit: contain;
  border-radius: var(--radius-small);
  width: 100%;
  height: auto;
}

.emptySpace {
  background-color: var(--color-secondary);
  border-radius: var(--radius-small);
  border: 1px solid var(--shadow-0-5);
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  justify-content: center;
  align-items: center;
  min-height: 5rem;
  color: var(--color-text-gray);

  @include common.mediaquery("desktop") {
    gap: 1rem;
    min-height: 9rem;
  }
}

.deleteIcon {
  position: absolute;
  right: -0.5rem;
  top: -0.5rem;
  background-color: var(--color-secondary);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-primary);
  padding: 0.3rem;
  border: none;
  transition: all var(--transition-fast);
  transition-property: color, background-color;
  box-shadow: var(--shadow);

  &:hover,
  &:focus {
    outline-offset: 3px;
    color: var(--color-primary);
    background-color: var(--color-error);
  }

  @include common.mediaquery("desktop") {
    right: -1rem;
    top: -1rem;
  }
}
