@use '/styles/common.scss';

.form {
  display: flex;
  align-items: center;
  background-color: var(--bg-secondary);
  border-radius: var(--radius-medium);
  padding: 0 1rem;
}

.label {
  display: flex;
  width: 100%;
}

.input {
  border: none;
  background-color: transparent;
  width: 100%;
}

.searchIcon {
  display: flex;
  justify-content: center;
  align-items: center;

  --size: 3rem;
  width: var(--size);
  height: var(--size);
}