@use '/styles/common.scss';

.container {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--color-primary);
  border-radius: var(--radius-small);
  position: relative;
}

.containerError {
  border-color: var(--color-error);
}

.label {
  position: absolute;
  left: 0rem;
  top: 0;
  padding: 0 1rem;
  color: var(--text-placeholder);
  transition: all 100ms ease-out;
  cursor: text;
  transition-property: background-color, transform, font-size;
}

.labelActive,
.input:focus+.label {

  background-color: var(--bg-primary);
  color: var(--text-primary);
  top: -1.25rem;
  left: 0.5rem;


  @include common.mediaquery('lg') {
    font-size: 2.5rem;
  }

  @include common.mediaquery('xl') {
    top: -2rem;
    left: 1rem;
  }
}

.input {
  background-color: transparent;
  border: none;
  padding: 1rem;
}

.error {
  color: var(--color-error);
  font-weight: 600;
  font-size: 1.5rem;
  margin-left: 1rem;

  @include common.mediaquery('lg') {
    font-size: 2rem;
  }
}

.textarea {
  border: none;
  padding: 1.5rem;
  max-width: calc(100% - 1px);
  font-size: 2rem;
  resize: vertical;
}