@use '/src/styles/common';

.slider {
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: var(--radius-medium);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;

  @include common.mediaquery('tablet') {
    border-radius: 0;
  }
}

.imagesContainer {
  position: relative;
  display: flex;
  height: 100%;
  cursor: grab;
}

.singleImageContainer {
  cursor: crosshair;
}

.figure {
  display: flex;
  justify-content: center;
  align-items: center;
}

.postSliderProgress {
  position: absolute;
  bottom: 0.75rem;
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  left: 0;
  right: 0;
  gap: 0.35rem;
  z-index: 2;
  list-style-type: none;
  padding: 0.35rem 0.5rem;
  background-color: var(--bg-primary);
  border-radius: var(--radius-small);
  box-shadow: var(--shadow-secondary);
}

.progressDot {
  width: 0.75rem;
  height: 0.75rem;
  background-color: var(--color-primary);
  border-radius: 100%;
}
