@use '/styles/common.scss';

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 3;
  background-color: var(--bg-overlay);

  display: flex;
  justify-content: center;
  align-items: flex-end;

  @include common.mediaquery('lg') {
    align-items: center;
  }

  @include common.mobile-landscape {
    align-items: center;

  }
}

.backdropMobileCenter {
  align-items: center;
}


.closeButton {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 1.25rem;
  top: 1.25rem;
  cursor: pointer;
  position: absolute;
  right: 1.25rem;
  top: 1.25rem;

  &:hover {
    color: var(--color-primary);
  }

  @include common.mobile-landscape {
    top: 0.65rem;
  }
}

.closeButtonExternal {
  right: 0rem;
  top: -6.5rem;
  border-radius: var(--radius-small);
  padding: 0.75rem;
  background-color: var(--bg-primary);

  @include common.mediaquery('lg') {
    right: -2rem;
  }
}