@use '/styles/common';

.nav {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 3rem;
    background-color: var(--bg-primary);
    overflow-y: auto;
    padding: 1rem 1.5rem;
    z-index: 1;
    width: 100%;
    height: 100%;

    @include common.mediaquery('desktop') {
        padding: 2rem 4rem;
    }
}

.link {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    border-radius: var(--radius-medium);
    background-color: var(--bg-primary);
    padding: 1rem;
    width: 100%;

    &:hover,
    &:focus {
        background-color: var(--bg-secondary);
    }

    &:focus {
        outline: none;
        box-shadow: var(--shadow-focus);
    }

    @include common.mediaquery('desktop') {
        width: auto;
    }
}

.heading {
    font-size: 1.5rem;

    @include common.mediaquery('desktop') {
        font-size: 2.5rem;
    }
}

.avatar {
    width: 3rem;
    height: 3rem;
}

.linkActive {
    order: -1;
    box-shadow: var(--shadow-focus);
}

.username {
    font-weight: 600;
}