@use '/styles/common';

.nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 3rem;
    background-color: var(--bg-primary);
    width: var(--width);
    position: fixed;
    top: 0;
    height: 5rem;
    padding: 1rem;
    z-index: 1;
}

.link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-small);
}

.linkActive {
    box-shadow: var(--shadow-focus);
}

.username {
    font-weight: 600;
}