@use '/styles/common';

.nav {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    background-color: var(--bg-primary);
    width: var(--width);
    position: fixed;
    top: 0;
    height: 5rem;
    padding: 1rem;
}

.link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}