@use '/styles/common.scss';

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 0.5rem;
}

.containerError {
  border-color: var(--color-error);
}

.label {
  color: var(--text-secondary);
  text-transform: capitalize;
}


.input {
  background-color: transparent;
  border: none;
  padding: 1rem;
  border: var(--border-gray);
  border-radius: var(--radius-medium);
  transition: all var(--transition);
  transition-property: background-color, box-shadow;

  &:hover {
    background-color: var(--bg-secondary);
  }

  &:focus {
    outline: none;
    border-color: transparent;
    box-shadow: var(--shadow-focus);
  }
}

.inputError {
  background-color: var(--bg-error);
  border-color: var(--color-error);
}


.error {
  color: var(--color-error);
  font-weight: 600;
}

.textarea {
  border: none;
  padding: 1.5rem;
  max-width: calc(100% - 1px);
  resize: vertical;
}