@use '/src/styles/common';

.container {
  max-width: 70rem;
  margin-inline: auto;

  @include common.mediaquery('tablet') {
    max-width: 45rem;
  }

  @include common.mediaquery('desktop') {
    margin-top: 1rem;
    padding: 0 2rem;
    max-width: 60rem;
  }
}

.accountMobile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;

  @include common.mediaquery('tablet') {
    gap: 2.5rem;
  }
}

.avatarName {
  display: flex;
  gap: 1rem;
}

.accountDesktop {
  display: flex;
  gap: 6rem;
  justify-content: center;
  align-items: flex-start;
}

.leftCol {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.rightCol {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1.5rem;
}

.username {
  text-align: center;
  align-self: center;
  margin: 0 auto;

  &::before {
    content: '@';
  }

  @include common.mediaquery('desktop') {
    margin: unset;
    text-align: left;
    align-self: flex-start;
    max-width: 20ch;
  }
}

.name {
  font-weight: 700;
  text-align: center;

  @include common.mediaquery('desktop') {
    font-size: 1.25rem;
    text-align: left;
  }
}

.bio {
  color: var(--color-text-gray);
  text-align: center;
  max-width: 20rem;
  word-wrap: break-word;
  text-wrap: balance;

  @include common.mediaquery('desktop') {
    text-align: left;
    font-size: 1.25rem;
    max-width: 30rem;
  }
}