@use '/src/styles/common.scss';

%gradient {
  background-size: var(--placeholder-bg-size);
  background-image: var(--gradient);
  animation: var(--placeholder-animation);
}

.placeholder {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  padding-bottom: 0;

  @include common.mediaquery('desktop') {
    padding: 0.75rem 1rem;
    padding-bottom: 0;
    gap: 0.75rem;
  }
}

.avatar {
  @extend %gradient;

  border-radius: 100%;
  --avatar-size-placeholder: 2.75rem;
  width: var(--avatar-size-placeholder);
  height: var(--avatar-size-placeholder);

  @include common.mediaquery('desktop') {
    --avatar-size-placeholder: 3rem;
  }
}

.name {
  @extend %gradient;

  height: 2.25rem;
  width: 7rem;
  border-radius: var(--radius-small);
}

.button {
  @extend %gradient;

  width: 4rem;
  height: 2.25rem;
  border-radius: var(--radius-small);
  margin-left: auto;
}
