@use '/styles/common.scss';

.container {
  position: relative;
  border: var(--border-secondary);
  cursor: pointer;
  border-radius: var(--radius-small);
  box-shadow: var(--shadow-secondary);

  overflow: hidden;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  &:focus {
    outline: none;
    box-shadow: var(--shadow-focus);


  }
}

.image {
  width: 100%;
  height: 100%;
  background-color: var(--bg-primary);
  object-fit: contain;

  @include common.mediaquery('lg') {
    min-height: 20rem;
  }
}

.link {
  display: flex;

  &:focus {
    outline-offset: 1rem;

    & + .overlay {
      opacity: 1;
    }

  }
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: var(--radius-small);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  background-color: rgb(35, 35, 35, 0.55);
  color: var(--color-white);

  @include common.mediaquery('lg') {
    gap: 4rem;
  }
}

.count {
  display: flex;
  justify-content: center;
  font-size: 3.25rem;
  align-items: center;
  gap: 0.5rem;

  @include common.mediaquery('lg') {
    font-size: 4rem;
  }
}