@use '/src/styles/common';

.header {
  display: flex;
  margin-bottom: var(--post-margin);
}

.userAnchor {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: 0.8rem;

  @include common.mediaquery('desktop') {
    gap: 1rem;
  }
}

.username {
  max-width: 7rem;
  overflow: hidden;
  text-overflow: ellipsis;

  @include common.mediaquery('desktop') {
    max-width: 10rem;
  }
}

.options {
  margin-left: auto;
  display: flex;
  gap: 1rem;
  align-items: center;
}
