@use '/src/styles/common';

.button {
  @include common.button;


  &:disabled {
    background-color: var(--color-gray);
    box-shadow: 0 0 0 1px var(--color-gray);
    color: var(--color-text-gray);
    cursor: not-allowed;
  }

  @include common.mediaquery('desktop') {
    &:focus {
      outline-offset: 6px;
      outline-width: 4px;
      outline-color: var(--color-accent);
    }
  }

  &>* {
    flex-shrink: 0;
  }
}

.secondary {
  @include common.button;
  box-shadow: 0 0 0 1px var(--color-gray);
  color: var(--color-text);
  background-color: transparent;
}

.destructive {
  @include common.button;
  color: var(--color-text);
  box-shadow: 0 0 0 1px var(--color-error-light);
  background-color: var(--color-error-light);
}