@use '/src/styles/common';

.button {
  @include common.button;

  &:disabled {
    background-color: var(--color-gray);
    color: var(--color-text-gray);
  }

  @include common.mediaquery('desktop') {

    &:hover {
      background-color: var(--color-accent-active);
    }

    &:focus {
      outline: none;
      box-shadow: inset 0 0 0 3px var(--color-primary), 0 0 0 2px var(--color-accent);
    }

    &:hover:disabled {
      background-color: var(--color-gray);
      color: var(--color-text-gray);
    }
  }

  & > * {
    flex-shrink: 0;
  }
}

.secondary {
  @include common.button;
  color: var(--color-text);
  background-color: transparent;
  box-shadow: inset 0 0 0 1px var(--color-gray);

  @include common.mediaquery('desktop') {
    &:hover {
      color: var(--color-text);
      background-color: var(--color-gray-active);
    }
  }
}

.destructive {
  @include common.button;
  color: var(--color-text);
  background-color: var(--color-error-light);

  @include common.mediaquery('desktop') {
    &:hover {
      background-color: var(--color-error-light-active);
    }
  }
}