@use '/src/styles/common';

.button {
  border-radius: var(--radius-small);
  background-color: var(--color-primary);
  color: var(--color-white);
  font-weight: 700;
  border: none;
  padding: 0.5rem 0.8rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-transform: capitalize;
  transition: all var(--transition);
  transition-property: transform, box-shadow;


  @include common.mediaquery('desktop') {
    @include common.button-state;
    padding: 0.5rem 0.9rem;
  }
}

.secondary {
  @extend .button;
  background-color: var(--bg-primary);
  color: var(--color-primary);
  box-shadow: inset 0 0 0 2px var(--color-primary);


  @include common.mediaquery('desktop') {
    @include common.button-secondary-state;
  }
}