{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "testing-library",
    "@typescript-eslint",
    "simple-import-sort",
    "unused-imports",
    "jsx-a11y"
  ],
  "extends": [
    "next",
    "next/core-web-vitals",
    "plugin:@typescript-eslint/recommended"
  ],
  "ignorePatterns": [
    "public/*",
    "types.ts"
  ],
  "rules": {
    "no-unused-vars": "off",
    "no-console": "warn",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "react/display-name": "off",
    "react/jsx-curly-brace-presence": [
      "warn",
      {
        "props": "never",
        "children": "never"
      }
    ],
    "@typescript-eslint/no-unused-vars": "off",
    "unused-imports/no-unused-imports": "warn",
    "unused-imports/no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "varsIgnorePattern": "^_",
        "args": "after-used",
        "argsIgnorePattern": "^_"
      }
    ],
    "simple-import-sort/exports": "warn",
    "simple-import-sort/imports": [
      "warn",
      {
        "groups": [
          [
            "^@?\\w",
            "^\\u0000"
          ],
          [
            "^@/src/hooks",
            "^@/src/utils"
          ],
          [
            "^@/src/components/atoms"
          ],
          [
            "^@/src/components/molecules"
          ],
          [
            "^@/src/components/organisms"
          ],
          [
            "^@/"
          ],
          [
            "^.+\\.s?css$"
          ],
          [
            "^\\./?$",
            "^\\.(?!/?$)",
            "^\\.\\./?$",
            "^\\.\\.(?!/?$)",
            "^\\.\\./\\.\\./?$",
            "^\\.\\./\\.\\.(?!/?$)",
            "^\\.\\./\\.\\./\\.\\./?$",
            "^\\.\\./\\.\\./\\.\\.(?!/?$)"
          ],
          [
            "^@/src/types"
          ],
          [
            "^"
          ]
        ]
      }
    ]
  },
  "globals": {
    "React": true,
    "JSX": true
  }
}