@use '/styles/common.scss';

.container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  gap: 3rem;

  @include common.mediaquery('lg') {
    gap: 5rem;
  }
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
}