@use '/styles/common.scss';

.container {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.form {
  display: grid;
}

.avatarButtons {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  width: 80%;
  margin-inline: auto;

  @include common.mediaquery('desktop') {
    grid-template-rows: 1fr;
    width: 100%;
    grid-template-columns: repeat(3, auto);
  }

  @include common.mediaquery('desktop') {
    grid-template-columns: repeat(3, 1fr);
  }
}

.stageContainer {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: grid;

  @include common.mediaquery('desktop') {
    display: flex;
    justify-content: space-between;
  }
}


.buttonsLastStage {
  display: flex;
  justify-content: space-between;

  @include common.mediaquery('desktop') {
    justify-content: flex-start;
  }
}