@use '/styles/common.scss';

.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  margin-bottom: 5rem;
  width: clamp(20rem, 80vw, 50rem);

  @include common.mediaquery('desktop') {
    margin: 0 auto;
    margin-top: 3rem;
  }
}

.form {
  display: grid;
  gap: 2rem;
}

.avatarButtons {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  width: 80%;
  margin-inline: auto;
  gap: 2rem;

  @include common.mediaquery('desktop') {
    grid-template-rows: 1fr;
    width: 100%;
    gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

.stageContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.buttons {
  display: grid;
  gap: 2rem;

  @include common.mediaquery('desktop') {
    gap: 0;
    display: flex;
    justify-content: space-between;
  }
}


.buttonsLastStage {
  display: flex;
  justify-content: space-between;

  @include common.mediaquery('desktop') {
    gap: 2rem;
    justify-content: flex-start;
  }
}