@use '/styles/common.scss';

.closeButton {
  position: absolute;
  right: -1rem;
  top: -6rem;
  font-size: 4rem;
  background-color: transparent;
  background-color: var(--bg-primary);
  border: none;
  border-radius: var(--radius-small);

  &:hover {
    color: var(--color-primary);
  }
}