@use '/styles/common.scss';


.tooltip {
  position: relative;
  display: inline-block;
}

.tip {
  display: none;
  position: absolute;
  background-color: var(--bg-white);
  border-radius: var(--radius-small);
  box-shadow: var(--shadow-secondary);
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  white-space: nowrap;
  line-height: 1;
  padding: 1rem 1.5rem;
  --tooltip-arrow-size: 1rem;


  @include common.mediaquery('lg') {
    display: block;
  }

  &::before {
    content: " ";
    left: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: var(--tooltip-arrow-size);
    margin-left: calc(var(--tooltip-arrow-size) * -1);
  }
}

.top {
  top: -5rem;
  bottom: unset;

  &::before {
    transform: translateY(3rem);
    filter: drop-shadow(0px 1px 0px var(--border-primary-color));
    border-top-color: var(--bg-white);
  }
}

.bottom {
  bottom: -5.5rem;

  &::before {
    transform: translateY(-3rem);
    filter: drop-shadow(0px -1px 0px var(--border-primary-color));
    border-bottom-color: var(--bg-white);
  }
}

.right {
  top: 50%;
  left: 5rem;
  transform: translateX(0) translateY(-50%);

  &::before {
    transform: translateX(-50%);
    left: 0;
    filter: drop-shadow(-1px 0px 0px var(--border-primary-color));
    border-right-color: var(--bg-white);
  }
}