@use '/styles/common.scss';

.options {
  background-color: var(--bg-white);
  position: absolute;
  box-shadow: var(--shadow-secondary);
  top: -16rem;
  left: -11.5rem;
  border: var(--border-primary);
  border-radius: var(--radius-small);
  min-width: 20rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;

  @include common.mediaquery('lg') {
    top: 6rem;
    left: -8.2rem;
  }
}

.square {
  position: absolute;
  bottom: -10px;
  right: 47px;
  margin: 0 auto;
  transform: rotate(45deg);
  width: 20px;
  height: 20px;
  background-color: var(--bg-white);
  border-left: var(--border-primary);
  border-top: var(--border-primary);

  @include common.mediaquery('lg') {
    top: -10px;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.link {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 1rem 2rem;
  border-top: var(--border-primary);
  text-transform: capitalize;
}

.signOut {
  border: none;
  background-color: transparent;
  border-top: var(--border-primary);
  width: 100%;
  padding: 1rem 0;
  cursor: pointer;
}

.welcome {
  font-weight: 600;
  padding: 1rem 0;
}

.button {
  border: none;
  background-color: transparent;
}