@use 'styles/common';

.container {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	background-color: var(--color-secondary);
	width: clamp(20rem, 80vw, 40rem);
	padding: 1rem 1.5rem;
	border-radius: var(--radius-medium);
	animation: show-modal var(--transition) cubic-bezier(0, 1.4, 1, 1) forwards;

	@include common.mediaquery('desktop') {
		width: clamp(25rem, 40vw, 35rem);
		padding: 1.5rem;
	}
}

.focusLock {
	width: 100%;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2rem;

	@include common.mediaquery('desktop') {
		padding-left: 0.5rem;
	}
}

.heading {
	font-size: 1.75rem;
	max-width: 70%;
}

.list {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

@keyframes show-modal {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
