@use '/src/styles/common';

.posts {
  display: grid;
  place-content: center;
  margin-top: 3rem;
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  width: clamp(20rem, 80vw, 60rem);

  @include common.mobile-landscape {
    gap: 2rem;
    margin-top: 2rem;
  }

  @include common.mediaquery('tablet') {
    width: auto;
    gap: 2.5rem;
    grid-template-columns: repeat(3, 1fr);
  }

  @include common.mediaquery('desktop') {
    gap: 3rem;
    padding: 0;
    padding-bottom: 6rem;
    margin-top: 4rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}