@use '/src/styles/common';

.posts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
  margin-top: 3.5rem;
  gap: 1rem;
  width: 100%;
  padding-bottom: 2rem;

  @include common.mobile-landscape {
    grid-template-columns: repeat(3, 1fr);
  }

  @include common.mediaquery('tablet') {
    grid-template-columns: repeat(3, 1fr);
  }

  @include common.mediaquery('desktop') {
    padding: 0;
    padding-bottom: 2rem;
  }
}


.noPosts {
  grid-column: span 3;
  text-align: center;
  margin: auto;
  margin-top: 1rem;
}


.row {
  display: flex;
  align-items: stretch;
  gap: 1rem;
  width: 100%;
}

.placeholder {
  flex: 1 0 0%;
}