@use '/src/styles/common';

.posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 3rem;
  gap: 1rem;
  width: clamp(20rem, 80vw, 40rem);

  @include common.mobile-landscape {
    margin-top: 2rem;
  }

  @include common.mediaquery('desktop') {
    width: 100%;
    margin-top: 4rem;
    padding: 0;
    padding-bottom: 6rem;
  }
}


.noPosts {
  text-align: center;
  margin: auto;
}


.row {
  display: flex;
  align-items: stretch;
  gap: 1rem;
  width: 100%;
}

.placeholder {
  flex: 1 0 0%;
}