@use '/styles/common.scss';

.listItem {
  border: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.listItemTitle {
  font-size: 1.5rem;

  @include common.mediaquery('lg') {
    display: none;
  }
}

.listItemChild {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-direction: column;
  font-size: var(--itemSize);
}

.listItemButton {
  background-color: transparent;
  border: none;
}