@use '/src/styles/common';

.container {
  width: clamp(18rem, 35vw, 70rem);
  margin: 2rem auto;
}

.formContainer {
  padding-bottom: 6rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  @include common.mediaquery('desktop') {
    gap: 4rem;
  }
}

.info {
  background-color: var(--bg-secondary);
  padding: 1rem 1.5rem;
  border-radius: var(--radius-small);
  line-height: 2;

  @include common.mediaquery('desktop') {
    padding: 1rem 1.5rem;
  }
}

.list {
  list-style-position: inside;
}

.heading {
  font-size: 2.5rem;

  @include common.mediaquery('desktop') {
    font-size: 3rem;
  }
}