@use '/src/styles/common';

.textAreaContainer {
  position: relative;
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  background-color: var(--color-secondary);
  border-radius: var(--radius-small);
}

.label {
  color: var(--color-text-gray);
  position: absolute;
  left: var(--gap);
  top: 0.5rem;
  left: 1rem;
  transition: all var(--transition);
  transition-property: background-color, transform, opacity;
  display: inline-block;
  opacity: 0.8;
}

.textArea {
  border: none;
  min-width: 100%;
  width: 100%;
  height: 100%;
  resize: vertical;
  max-height: 12rem;
  padding: 2rem 1rem;
  background-color: var(--color-secondary);
  border-radius: var(--radius-small);

  &:focus {
    outline: none;
    border-color: var(--color-primary);
  }
}

.error {
  color: var(--color-error);
  font-weight: 700;
  margin-top: 0.5rem;
}