@use '/styles/common.scss';


.container {
    background-color: var(--bg-primary);
    padding: 1rem 0;
    width: clamp(25rem, 30%, 30rem);
    border-radius: var(--radius-medium);
    position: relative;
}

.heading {
    text-align: center;
}

.list {
    display: flex;
    flex-direction: column;
    list-style: none;
    min-height: 10rem;
    max-height: 20rem;
    overflow-y: visible;
    padding-top: 2rem;
    gap: 1rem;
}

.placeholder {
    margin: 0 2rem;
    background-size: 500%;
    background-image: var(--gradient);
    animation: var(--placeholder-animation);
    height: 2.5rem;
    border-radius: var(--radius-small);
}


.listItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    transition: transform var(--transition);
    padding: 0 2rem;

    @include common.mediaquery('desktop') {
        gap: 5rem;
    }
}

.itemLink {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-grow: 1;
}

.username {
    font-weight: 600;
    font-size: 1.25rem;
    max-width: 8rem;
    overflow: hidden;
    text-overflow: ellipsis;

    @include common.mediaquery('desktop') {
        max-width: 12rem;
    }
}