@use '/src/styles/common.scss';

.messages {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
    list-style: none;
    gap: 1.25rem;
    height: calc(100dvh - 15rem);
    overflow: auto;
    padding: 0 0.5rem;
    padding-bottom: 1rem;

    @include common.mediaquery('tablet') {
        height: calc(100dvh - 18rem);
        padding: 0;
        padding-bottom: 2rem;
        gap: 2rem;
    }
}


.time {
    text-align: center;
    color: var(--color-text-gray);
    width: 100%;
    display: block;
}

.noMessages {
    text-align: center;
    width: 100%;
}

.loading {
    margin-top: 10rem;
    margin-bottom: 5rem;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}