@use '/src/styles/common';

.heading {
  position: relative;
  line-height: 1.5;
  font-weight: 700;
  --heading-size: 1.5rem;
  font-size: var(--heading-size);
}

.small {
  --heading-size: 1rem;

  @include common.mediaquery('desktop') {
    --heading-size: 1.25rem;
  }
}

.medium {
  --heading-size: 1.75rem;

  @include common.mediaquery('desktop') {
    --heading-size: 2rem;
  }
}

.big {
  --heading-size: 2.5rem;

  @include common.mediaquery('desktop') {
    --heading-size: 3rem;
  }
}

.center {
  text-align: center;
  width: fit-content;
  margin-inline: auto;
}
