.editPost {
  width: clamp(21rem, 50vw, 40rem);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  gap: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
}
