@use '/src/styles/common';

%gradient {
  background-size: var(--placeholder-bg-size);
  background-image: var(--gradient);
  animation: var(--placeholder-animation);
}

.placeholder {
  width: var(--post-width);
  border-radius: var(--radius-small);
  opacity: 0.5;
  display: flex;
  flex-direction: column;
  height: 22rem;

  @include common.mediaquery('tablet') {
    height: 30rem;
  }

  @include common.mediaquery('desktop') {
    border-radius: var(--radius-big);
    height: 35rem;
  }
}

.image {
  height: 60%;
  border-radius: var(--radius-small);
  @extend %gradient;
  margin-bottom: var(--post-margin);
}

.footer {
  height: calc(30% - 5rem);
  border-radius: var(--radius-small);
  @extend %gradient;
}
