@use '/src/styles/common';

%gradient {
  background-size: var(--placeholder-bg-size);
  background-image: var(--gradient);
  animation: var(--placeholder-animation);
}

.placeholder {
  border: var(--border-gray);
  width: var(--post-width);
  border-radius: var(--radius-small);
  opacity: 0.5;
  margin: 0 auto;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 1.5rem;
  height: 22rem;

  @include common.mediaquery('tablet') {
    height: 30rem;
  }

  @include common.mediaquery('desktop') {
    border-radius: var(--radius-big);
    height: 35rem;
  }
}

.image {
  height: 60%;
  border-radius: var(--radius-medium);
  @extend %gradient;
  margin: 0 0.5rem;
}

.footer {
  height: calc(30% - 3rem);
  border-radius: var(--radius-medium);
  @extend %gradient;
  margin: 0 0.5rem;
}
