@use '/src/styles/common';

.container {
  background-color: var(--color-primary);
  border-radius: var(--radius-medium);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: clamp(20rem, 80vw, 30rem);
  padding: 1rem 1.5rem;


  @include common.mediaquery('desktop') {
    gap: 1.5rem;
  }
}

.headingContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  width: 100%;
}


.heading {
  text-align: center;
  font-size: 1.75rem;
}

.buttonsRow {
  display: flex;
  margin-top: 1.5rem;
  gap: 1.5rem;
  justify-content: flex-end;
  align-items: center;

  @include common.mediaquery('desktop') {
    margin-top: 1.75rem;
  }
}