.heading {
  text-align: left;
  position: relative;
  line-height: 1.5;
  font-weight: 600;

  &::before {
    content: '';
    z-index: -1;
    width: 2.7em;
    height: 90%;
    position: absolute;
    left: -0.55em;
    top: 5%;
    border-radius: 3px;
    background-color: var(--color-secondary);
  }
}

.center {
  text-align: center;
  width: fit-content;
  margin-inline: auto;
}