.accessDenied {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
}

.link {
  text-align: center;
  text-decoration: underline;
}
