@use 'common';

.posts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
  margin: 1rem auto 0 auto;
  gap: 0.5rem;
  width: 100%;
  padding: 0 1rem 1rem 1rem;
  max-width: 30rem;

  @include common.mobile-landscape {
    grid-template-columns: repeat(3, 1fr);
  }

  @include common.mediaquery('tablet') {
    gap: 1rem;
    max-width: 50rem;
    padding: 0 4rem 2rem 4rem;
    margin: 3rem auto 0 auto;
    grid-template-columns: repeat(3, 1fr);
  }

  @include common.mediaquery('desktop') {
    padding: 0;
    padding-bottom: 2rem;
    max-width: 60rem;
    margin: 4rem auto 0 auto;
  }
}

.noPosts {
  grid-column: span 3;
  text-align: center;
  margin: auto;
  margin-top: 1rem;
}

.row {
  display: flex;
  align-items: stretch;
  gap: 1rem;
  width: 100%;
}

.placeholder {
  flex: 1 0 0%;
}
