@use '/styles/common.scss';

.notification {
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: max-content;
  z-index: 3;
  top: 1.5rem;
  border-radius: var(--radius-small);
  border: none;
  box-shadow: var(--shadow-secondary);
  background-color: var(--color-primary);
  color: rgb(255, 255, 255);
  padding: 0.5rem 0.7rem;
  font-size: 1.25rem;
  display: flex;
  gap: 0.2rem;
  align-items: center;
  font-weight: 500;
}