@use '/styles/common';

.chat {
    display: flex;
    flex-direction: column;
    position: relative;
}

.header {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 1rem;
    background-color: var(--bg-secondary);
}

.heading {
    font-size: 1rem;
}

.messages {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
    list-style: none;
    padding: 2rem 2rem;
    gap: 3rem;
    max-height: 26rem;
    overflow-y: auto;

    @include common.mediaquery('desktop') {
        max-height: 75vh;
    }
}

.message {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: auto;
    background-color: var(--color-secondary);
    padding: 0.6rem 1rem;
    border-radius: var(--radius-medium);
    color: rgb(30, 30, 30);

    &>figure {
        order: 2;
    }
}

.loading {
    padding-bottom: 3rem;
}

.messageFriend {
    margin-left: 0;
    background-color: var(--bg-secondary);
    color: inherit;

    &>figure {
        order: 0;
    }
}

.form {
    display: flex;
    align-items: stretch;
    padding: 0.5rem;
    gap: 2rem;
    background-color: var(--bg-secondary);

    @include common.mediaquery('desktop') {
        padding: 1rem 3rem;
    }
}

.input {
    flex-grow: 1;
    background-color: var(--bg-primary);
    border-radius: var(--radius-small);
    padding: 0 0.5rem;
    border: none;

    &:focus {
        outline: none;
        box-shadow: var(--shadow-focus);
    }
}

.button {
    background-color: var(--color-primary);
    border-radius: 100%;
    color: rgb(255, 255, 255);
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;


    &:focus {
        outline: none;
        box-shadow: var(--shadow-focus);
    }
}