.list {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  padding-bottom: 0;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 3rem;


  &:last-child {
    margin-left: auto;
  }
}

.button {
  background-color: transparent;
  border: 0;
  display: flex;

  &:hover {
    opacity: 0.6;
  }
}

.likesCount {
  margin-left: 0.25rem;
  padding-bottom: 1rem;
}