.list {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  margin: 1rem 1rem;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 3rem;

}

.itemLast {
  margin-left: auto;
}

.button {
  background-color: transparent;
  border: 0;
  display: flex;

  &:hover {
    opacity: 0.6;
  }
}