.list {
    display: flex;
    list-style: none;
    gap: 3rem;
}

.button {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 1.25rem;
}

.buttonsCount {
    display: flex;
}