@use '/styles/common.scss';

.footer {
    padding: 0.75rem 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include common.mediaquery('desktop') {
        padding: 1rem;
    }
}

.descriptionContainer {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.description {
    display: inline;
    color: var(--text-gray);
}

.author {
    font-weight: 600;
    padding-right: 0.5rem;

}

.showMore {
    background-color: transparent;
    border: none;
    color: var(--color-primary);
}