.listItem {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	transition: transform var(--transition);
	margin: 0.25rem 1rem;
	gap: 1rem;

	@media (--large-viewport) {
		gap: 2rem;
	}
}

.itemLink {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	flex-grow: 1;
	border-radius: var(--radius-medium);
	border: 1px solid transparent;
	border: 1px solid var(--shadow-100);
	box-shadow: var(--shadow-100);
	background-color: var(--color-secondary);
	padding: 0.5rem 0.5rem;

	@media (--large-viewport) {
		gap: 1rem;
		padding: 0.5rem 1rem;
	}
}

.username {
	font-weight: 700;

	@media (--large-viewport) {
		font-size: 1.25rem;
	}
}
