@use '/src/styles/common.scss';

.item {
    width: 100%;
}

.content {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.75rem 0;
    border-radius: var(--radius-small);

    @include common.mediaquery('desktop') {
        padding: 1rem 0.5rem;
        transition: background-color var(--transition);

        &:hover,
        &:focus {
            background-color: var(--color-gray);
        }
    }
}