@mixin mediaquery($query) {
  $breakpoints: ('tablet': '(min-width: 750px)',
    'desktop': '(min-width: 1279px)',
  );

  @if map-has-key($breakpoints, $query) {
    @media screen and #{map-get($breakpoints, $query)} {
      @content;
    }
  }

  @else {
    @error "ERROR: No breakpoint specified for query '#{$query}'";
  }
}

@mixin mobile-landscape {
  @media screen and (max-width: 1200px) and (orientation: landscape) {
    @content;
  }
}

@mixin button {
  border-radius: var(--radius-small);
  border: 2px solid var(--color-accent);
  background-color: var(--color-accent);
  color: var(--color-button-text);
  font-weight: 500;
  padding: 0.4rem 0.8rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;

  @include mediaquery('desktop') {
    padding: 0.5rem 1rem;
  }
}