@mixin mediaquery($query) {
  $breakpoints: ('tablet': '(min-width: 750px)',
    'desktop': '(min-width: 1279px)',
  );

  @if map-has-key($breakpoints, $query) {
    @media screen and #{map-get($breakpoints, $query)} {
      @content;
    }
  }

  @else {
    @error "ERROR: No breakpoint specified for query '#{$query}'";
  }
}

@mixin mobile-landscape {
  @media screen and (max-width: 1200px) and (orientation: landscape) {
    @content;
  }
}

@mixin button-state {
  @include mediaquery('desktop') {
    &:not(:disabled) {
      &:focus {
        box-shadow: inset 0 0 0 2px var(--color-primary), var(--shadow-focus);
      }
    }
  }
}

@mixin button-secondary-state {
  @include mediaquery('desktop') {
    &:not(:disabled) {
      &:focus {
        box-shadow: inset 0 0 0 2px var(--color-primary), var(--shadow-focus);
      }
    }
  }
}

@mixin button {
  border-radius: var(--radius-small);
  background-color: var(--color-accent);
  border: none;
  color: var(--color-button-text);
  box-shadow: 0 2px 0 var(--shadow-1);
  padding: 0.5rem 0.8rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-transform: capitalize;


  @include mediaquery('desktop') {
    @include button-state;
    padding: 0.75rem 1.5rem;
  }
}