@use '/src/styles/common';

%variables {
  --color-primary: rgb(255, 255, 255);
  --color-secondary: rgb(238, 240, 238);
  --color-accent: rgb(109, 194, 171);
  --color-error: rgb(207, 60, 30);
  --color-error-light: rgb(255, 194, 194);
  --color-gray: rgb(222, 222, 222);
  --color-gray-hover: rgb(230, 230, 230);
  --color-overlay: rgb(20, 20, 20, 0.6);

  --color-text: rgb(6, 20, 16);
  --color-text-gray: rgb(80, 80, 80);

  --color-button-text: rgb(22, 22, 22);

  --transition: 0.25s ease;
  --transition-fast: 0.125s ease;

  --gradient: linear-gradient(90deg,
      var(--color-gray) 0px,
      #ededed 20%,
      var(--color-gray) 40%);
  --placeholder-animation: skeleton-loading 1.5s infinite linear;
  --placeholder-bg-size: 500%;

  --shadow-1: rgba(0, 0, 0, 0.1);
  --shadow-2: rgba(0, 0, 0, 0.2);
  --shadow-5: rgba(0, 0, 0, 0.5);
  --shadow-8: rgba(0, 0, 0, 0.8);

  --radius-big: 1rem;
  --radius-medium: 0.5rem;
  --radius-small: 0.3rem;

  --header-width: 20rem;
  --post-width: 20rem;

  --post-margin: 1rem;

  @include common.mediaquery('tablet') {
    --post-width: calc(18rem + 15vw);
  }

  @include common.mediaquery('desktop') {
    --post-margin: 1.5rem;
    --post-width: calc(25rem + 15vw);
  }
}

%variablesDarkTheme {
  --color-primary: rgb(60, 60, 60);
  --color-secondary: rgb(80, 80, 80);
  --color-gray: rgb(100, 100, 100);
  --color-gray-hover: rgb(130, 130, 130);
  --color-overlay: rgba(80, 80, 80, 0.85);

  --color-text: rgb(232, 232, 232);
  --color-text-gray: rgb(211, 211, 211);

  --shadow-1: rgba(255, 255, 255, 0.1);
  --shadow-2: rgba(255, 255, 255, 0.2);
  --shadow-5: rgba(255, 255, 255, 0.5);
  --shadow-8: rgba(255, 255, 255, 0.8);

  --color-error-light: rgb(155, 91, 91);

}