@use '/src/styles/common';

.header {
  @include common.mediaquery('desktop') {
    display: flex;
    flex-direction: column;
    padding-block: 2rem;
    padding-left: 7rem;
    padding-right: 1rem;
    width: var(--header-width);
    border-right: var(--border-gray);
    position: fixed;
    top: 0;
    left: 0;
    gap: 4rem;
    height: 100vh;
  }
}

.anchor {
  display: none;

  @include common.mediaquery('desktop') {
    display: unset;
    margin-left: 0.5rem;
  }
}

.options {
  margin-top: auto;
  position: relative;
}

.button {
  display: none;

  @include common.mediaquery('desktop') {
    padding: 0.5rem;
    padding-right: 1rem;
    border-radius: var(--radius-big);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;

    transition: var(--transition);
  }

  &:hover,
  &:focus {
    background-color: var(--bg-secondary);
  }

  &:focus {
    outline: none;
    box-shadow: var(--shadow-focus);
  }
}

.userInfo {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: left;
}

.name {
  max-width: 8rem;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-shrink: 1;
}

.icon {
  flex-shrink: 0;
  margin-left: auto;
}

.username {
  max-width: 8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}