@use '@/styles/common.scss';

.chat {
    display: flex;
    flex-direction: column;
    position: relative;
    max-height: 100vh;
    padding-bottom: 3rem;

    --width: 100%;

    @include common.mediaquery('desktop') {
        --width: calc(100% - 5vw - var(--header-width));
        padding-bottom: 0;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    padding: 1rem;
    background-color: var(--bg-primary);
    width: var(--width);
    position: fixed;
    top: 0;
    border-bottom: var(--border-gray);
    z-index: 1;

    @include common.mediaquery('desktop') {
        padding: 1rem 3rem;
    }
}

.goBack {
    display: none;

    @include common.mediaquery('tablet') {
        display: initial;
    }
}

.heading {
    font-size: 1rem;
    max-width: 10rem;
    overflow: hidden;
    text-overflow: ellipsis;

    @include common.mediaquery('tablet') {
        max-width: unset;
    }
}

.userHeader {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.messages {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
    list-style: none;
    padding: 10rem 0.5rem;
    gap: 2rem;

    @include common.mediaquery('desktop') {
        padding: 10rem 2rem;
    }
}

.noMessages {
    text-align: center;
    width: 100%;
}

.loading {
    margin-top: 10rem;
    padding-bottom: 12rem;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    >svg {
        width: 5rem;
        height: 5rem;
    }
}

.formContainer {
    position: fixed;
    bottom: 2.5rem;
    width: 100%;
    padding: 1rem 1rem;
    background-color: var(--bg-primary);
    display: flex;
    justify-content: stretch;
    align-items: stretch;

    @include common.mediaquery('desktop') {
        width: var(--width);
        padding: 1rem 2rem;
        bottom: 0;
    }
}

.form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: var(--radius-big);
    padding: 0 1rem;
    background-color: var(--bg-secondary);
    border: none;
    width: 100%;

    @include common.mediaquery('desktop') {
        gap: 2rem;
    }
}

.input {
    background-color: transparent;
    padding: 0.7rem 0.5rem;
    border: none;
    flex-grow: 1;
    max-width: 80%;

    @include common.mediaquery('tablet') {
        max-width: unset;
        padding: 1rem 0.5rem;
    }
}

.button {
    color: var(--text-black);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: opacity var(--transition);
    padding: 0.3rem;

    &:focus {
        border-radius: 100%;
    }

    &:disabled {
        opacity: 0.4;
    }

}