@use '/src/styles/common';

.createPost {
  display: grid;
  width: clamp(19rem, 70%, 52rem);
  margin: 2rem auto;
  margin-bottom: 4rem;
  gap: 2rem;

  @include common.mediaquery('desktop') {
    gap: 4rem;
  }
}
