.post {
  background-color: var(--bg-primary);
  border-radius: var(--radius-medium);
  box-shadow: var(--shadow-secondary);
  max-width: 45rem;
  justify-self: center;
}

.count {
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem;
  padding-bottom: 3rem;
}