@use '/src/styles/common';

.layout {
  padding-bottom: 6rem;

  @include common.mediaquery('tablet') {
    min-height: 100dvh;
    display: flex;
    gap: 2rem;
    padding-bottom: 0;
  }

  @include common.mediaquery('desktop') {
    gap: 5rem;
  }
}

.container {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  @include common.mediaquery('desktop') {
    margin-top: 3rem;
    padding-bottom: 2rem;
    margin-right: 20rem;
  }
}