@use '/src/styles/common';

.layout {
  @include common.mediaquery('desktop') {
    min-height: 100dvh;
    margin-left: var(--header-width);
    margin-right: calc(var(--header-width) - 6.5vw);
  }
}
