@use '/src/styles/common';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--color-primary);
  width: clamp(20rem, 30vw, 40rem);
  padding: 1rem 1.5rem;
  border-radius: var(--radius-medium);
}

.focusLock {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;


}

.heading {
  font-size: 1.75rem;
  max-width: 70%;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  padding-bottom: 0.5rem;

  @include common.mediaquery('desktop') {
    gap: 0.5rem;
    padding-bottom: 0;
  }
}