@use '/src/styles/common';

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
  border-radius: var(--radius-medium);
  border: var(--border-gray);
  padding: 0 0.5rem;
  background-color: var(--bg-secondary);

  @include common.mediaquery('desktop') {
    width: 35rem;
    border-radius: var(--radius-big);
  }
}

.input {
  padding: 1rem 0.5rem;
  border: none;
  background-color: transparent;
  flex-grow: 1;

  &::placeholder {
    color: var(--text-black);
  }
}
