@use '/styles/common.scss';

.previewContainer {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 2rem;


  @include common.mediaquery('lg') {
    gap: 12rem;
  }
}

.previewButton {
  border: none;
  background-color: transparent;
  display: flex;
  border-radius: var(--radius-small);
  box-shadow: var(--shadow-secondary);
  justify-content: center;
  align-items: center;
  position: relative;

  &:hover>.deleteIconOverlay {
    opacity: 1;
  }
}

.imgPreview {
  object-fit: contain;
  width: 100%;
  height: auto;
}

.emptySpace {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: var(--radius-small);
  border: 0;
  box-shadow: var(--shadow-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  filter: opacity(0.5);
  min-height: 10rem;


  >svg {
    width: 6rem;
    height: 6rem;
  }
}

.deleteIcon {
  position: absolute;
  right: -0.75rem;
  top: -1rem;
  background-color: var(--color-secondary);
  border-radius: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-primary);
  padding: 0.5rem;
  border: none;
  cursor: pointer;

  >svg {
    stroke-width: 3;
    width: 3rem;
    height: 3rem;
  }

  @include common.mediaquery('lg') {

    right: -1.5rem;
    top: -1.5rem;

    >svg {
      width: 4rem;
      height: 4rem;
    }
  }

}