@use '/src/styles/common.scss';


.textContainer {
    display: flex;
    justify-content: flex-end;

    @include common.mediaquery('desktop') {

        &:hover > .options {
            opacity: 1;
        }
    }
}

.text {
    background-color: var(--color-accent);
    color: var(--color-button-text);
    border-radius: var(--radius-medium);
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    user-select: none;
    gap: 0.5rem;

    &:not(:disabled) {
        cursor: default;
    }

    @include common.mediaquery('desktop') {
        max-width: 20rem;
        padding: 0.5rem 1rem;
    }
}

.options {
    opacity: 0;
    transition: opacity var(--transition);
    margin-right: 1rem;

    @include common.mediaquery('desktop') {
        &:focus {
            opacity: 1;
        }
    }
}

.optionsOpen {
    opacity: 1;
}

.textContainerReceiver {
    justify-content: flex-start;

    & > .text {
        background-color: var(--color-secondary);
        color: var(--color-text);
    }
}

.popoverContent {
    padding: 0.5rem;
    border-radius: var(--radius-medium);
    background-color: var(--color-secondary);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, .16));
}

.popoverItem {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0.5rem;
    border-radius: var(--radius-small);
    font-size: 13px;
    font-weight: 500;


    @include common.mediaquery('desktop') {

        &:hover,
        &:focus {
            background-color: var(--color-primary);
        }
    }
}

.popoverItemDestructive {
    color: var(--color-error);
}

.popoverArrow {
    fill: var(--color-secondary);
}