@use '/src/styles/common';

.message {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  position: relative;
  word-break: normal;
  max-width: 90%;
  gap: 0.5rem;

  @include common.mediaquery('desktop') {

    &:hover>.options,
    &:hover>.time {
      opacity: 1;
    }
  }
}



.time {
  top: -1.25rem;
  left: unset;
  right: 0.25rem;
  position: absolute;
  font-size: 0.75rem;
  text-align: right;
  width: 7rem;
  color: var(--text-black);
  opacity: 0;
  transition: opacity var(--transition);
}

.text {
  background-color: var(--color-accent);
  color: var(--color-button-text);
  border-radius: var(--radius-medium);
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  @include common.mediaquery('desktop') {
    max-width: 20rem;
    padding: 0.5rem 1rem;
  }
}

.options {
  opacity: 0;
  transition: opacity var(--transition);

  @include common.mediaquery('desktop') {
    &:focus {
      opacity: 1;
    }
  }
}

.messageReceiver {
  margin-left: 0;
  color: inherit;

  &>.text {
    background-color: var(--color-secondary);
    color: var(--color-text);

  }

  &>.avatar {
    order: -1;
  }

  &>.time {
    right: unset;
    left: 0.5rem;
    text-align: left;
  }
}