@use '/src/styles/common';

.commentsList {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: auto;
  height: 100%;

  @include common.mediaquery('desktop') {
    gap: 2rem;
  }
}

.noComments {
  text-align: center;
  color: var(--color-text-gray);
}

.sort {
  display: flex;
  margin-left: auto;
  justify-content: flex-end;
  align-items: center;
  gap: 0.35rem;
  overflow: hidden;
  margin-bottom: 0.5rem;
}

.radioGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.radioItem {
  padding: 0.25rem 0.5rem;
  border-radius: var(--radius-small);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;


  @include common.mediaquery('desktop') {
    &:hover {
      cursor: pointer;
    }

    &:focus {
      background-color: var(--color-primary);
      color: var(--color-text);
    }
  }
}

.radioItemChecked {
  cursor: auto;
  color: var(--color-always-black);
  background-color: var(--color-accent);


}