@use '/src/styles/common';

.commentsList {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include common.mediaquery('tablet') {
    max-height: 17rem;
    overflow-y: auto;
  }

  @include common.mediaquery('desktop') {
    max-height: 20rem;
  }
}
