@use '@/styles/common.scss';

.homePost {
    width: var(--post-width);

    @include common.mediaquery('tablet') {
        border: var(--border-gray);
        border-radius: var(--radius-medium);
    }
}