.button {
	background: linear-gradient(
		135deg,
		var(--color-accent),
		var(--color-accent-darker)
	);
	background-size: 150% 150%;
	background-position: 0%;
	transition: background-position var(--transition-fast);
	color: var(--color-always-black);

	&:disabled {
		background: var(--color-gray);
	}

	@media (--large-viewport) {
		&:hover:not(:disabled) {
			background-position: 100%;
		}
	}
}
