@use '/styles/common.scss';

.nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem 0;
  background-color: var(--bg-blur);
  backdrop-filter: var(--filter-blur);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

.navDesktop {
  background-color: transparent;
}