@use '/styles/common.scss';

.nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-primary);
  bottom: 0;
  left: 0;
  padding-top: 0.5rem;
  border-top: var(--border-secondary);
  z-index: 1;

  @include common.mediaquery('lg') {
    position: static;
    border: 0;
    z-index: 0;
    justify-content: flex-end;
    padding: 0;
    background-color: transparent;
  }
}