@use '/src/styles/common';

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 0.5rem;
}

.containerError {
  border-color: var(--color-error);
}

.label {
  color: var(--text-secondary);
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(0.75rem, 1rem);
  transition: all var(--transition);
  transition-property: background-color, transform, opacity;
  display: inline-block;
  background-color: var(--bg-primary);
  padding: 0 0.25rem;
  opacity: 0.7;
}

%label-active {
  opacity: 1;
  transform: translate(0.5rem, -0.75rem);
}

.input {
  background-color: var(--bg-primary);
  padding: 1rem;
  border-radius: var(--radius-small);
  border: var(--border-gray);

  &:focus {
    outline: none;
    border-color: var(--color-primary);

    &+.label {
      @extend %label-active;
    }
  }
}

.inputError {
  border-color: var(--color-error);

  &+.label {
    color: var(--color-error);
  }
}

.notEmpty+.label {
  @extend %label-active;
}

.error {
  color: var(--color-error);
  padding-left: 0.5rem;
  margin-top: 0.5rem;
}