@use '/src/styles/common';

.loader {
  position: absolute;
  width: var(--post-width);
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgLoading {
  opacity: 0;
}

.sliderImage {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  flex-shrink: 0;
  pointer-events: none;
  user-select: none;
  border-radius: var(--radius-small);
  height: auto;
  width: 100%;

  @include common.mediaquery('tablet') {
    object-fit: contain;
  }
}