@use '/styles/common.scss';

.posts {
  display: grid;
  grid-auto-columns: minmax(10rem, 45rem);
  place-content: center;
  gap: 4rem;

  @include common.mediaquery('lg') {
    grid-auto-columns: auto;
    gap: 6rem;
  }
}