@use '/styles/common.scss';

.dropZone {
  box-shadow: var(--shadow-secondary);
  border-radius: var(--radius-small);
  background-color: var(--bg-gray);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 1rem;
  text-align: center;
  transition: 0.2s ease;
  max-height: 30rem;

  svg {
    width: 5rem;
    height: 5rem;
  }


  &>* {
    pointer-events: none;
  }

  @include common.mediaquery('lg') {

    svg {
      width: 8rem;
      height: 8rem;
    }

    gap: 3rem;
    padding: 5rem 3rem;
  }
}

.dropZoneState {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

%commonActiveState {
  box-shadow: var(--shadow-focus);
  color: var(--color-primary);
}

.dropZoneError {
  background-color: var(--bg-error);
}

.dropZoneActive {
  @extend %commonActiveState;
}

.dropIcon {
  font-size: 7rem;
}

.dropIconError {
  @extend .dropIcon;
  color: var(--color-error);
}

.buttonInput {
  border-radius: var(--radius-small);
  padding: 0.9rem 2.5rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-weight: 500;
  border: none;
  transition: all 0.2s ease;
  z-index: 1;
  pointer-events: all;
  cursor: pointer;

  &::first-letter {
    text-transform: uppercase;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 0.35rem var(--bg-secondary), 0 0 0 0.65rem var(--color-primary);
  }

  &:hover {
    transform: scale(1.1);
  }
}

.buttonInputDisabled {
  background-color: var(--color-disabled);
  opacity: 0.7;
  pointer-events: none;
}

.input:focus~.buttonInput {
  box-shadow: var(--shadow-focus);
}