@use '/styles/common.scss';

.container {
  background-color: var(--bg-primary);
  border-radius: var(--radius-medium);
  position: relative;
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 85%;

  @include common.mediaquery('tablet') {
    width: 60%;
  }

  @include common.mediaquery('desktop') {
    width: auto;
    gap: 3rem;
    padding: 2.5rem 5rem;
  }
}

.headingContainer {
  position: relative;
}

.heading {
  font-size: 2rem;
  text-align: center;
}

.buttonsRow {
  display: flex;
  gap: 3rem;
  justify-content: center;
}