@use '/styles/common.scss';

.container {
  width: clamp(20rem, 30%, 30rem);
  background-color: var(--white);
  border-radius: var(--radius-medium);
  position: relative;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  @include common.mediaquery('desktop') {
    min-width: unset;
    gap: 2rem;
  }
}

.headingContainer {
  position: relative;
}

.heading {
  font-size: 2rem;
  text-align: center;
}

.buttonsRow {
  display: flex;
  gap: 2rem;
  justify-content: center;

  @include common.mediaquery('desktop') {
    gap: 3rem;
  }
}