@use '/styles/common.scss';

.textArea {
  border-radius: var(--radius-small);
  border: none;
  min-width: 100%;
  width: 100%;
  resize: vertical;
  min-height: 12rem;
  height: 12rem;
  padding: 1rem;
  background-color: transparent;
  border: var(--border-primary);
  box-shadow: var(--shadow);
  transition: all var(--transition-fast);
  transition-property: background-color;

  &:hover,
  &:focus {
    background-color: var(--bg-secondary);
  }

  &:focus {
    outline: none;
    box-shadow: var(--shadow-focus);
    border-color: var(--color-primary);
  }
}

.label {
  color: var(--text-secondary);
  text-transform: capitalize;
  position: relative;
}

.error {
  color: var(--color-error);
  font-weight: 600;
  margin-top: 0.5rem;
}