.addComment {
  display: grid;
  grid-template-columns: 8fr 1fr;
  gap: 3rem;
  align-items: center;
}

.commentInput {
  min-width: 100%;
  height: 4rem;
  min-height: 4rem;
  resize: vertical;
  border-radius: var(--radius-small);
  border-bottom-right-radius: 0;
  padding: 0.5rem;
  border: var(--border-secondary);
}

.postButton {
  font-size: 1.5rem;
}