.list {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;

	@media (--large-viewport) {
		border-radius: 0;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		border: initial;
		width: 100%;
		height: auto;
		overflow-y: clip;
		padding: 2rem 0;
		gap: 2rem;
		margin-bottom: auto;
		box-shadow: none;
	}
}

.listItem {
	width: 100%;
}

.listItemContent {
	width: 100%;
	display: flex;
	align-items: center;
	justify-items: center;
	gap: 1rem;
	padding: 0.5rem;
	border-radius: var(--radius-medium);
	transition: all var(--transition-fast);
	font-size: 1.25rem;
	transition-property: transform;
	border: 1px solid transparent;

	@media (--large-viewport) {
		padding: 1rem;

		&:hover {
			transform: scale(1.03);
			border-color: var(--shadow-100);
			background-color: var(--color-primary);
		}
	}
}

.icon {
	transition: transform var(--transition-fast);
}

.active {
	background-color: var(--color-primary);
	border-color: var(--shadow-200);
	box-shadow: var(--shadow);

	@media (--large-viewport) {
		background-color: var(--color-primary);
		font-weight: 700;
	}
}

.title {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;

	@media (--large-viewport) {
		text-transform: capitalize;
		position: static;
		width: auto;
		height: auto;
		padding: 0;
		margin: 0;
		overflow: visible;
		clip: none;
		white-space: nowrap;
		border-width: 0;
	}
}

.signInButton {
	@media (--large-viewport) {
		margin-top: auto;
		width: 100%;
	}
}
