.button {
  background-color: var(--color-primary);
  border-radius: var(--radius-small);
  padding: 1rem 2rem;
  color: var(--color-white);
  font-weight: 600;
  transition: all 100ms ease-in-out;
  transition-property: transform;
  border: none;
  text-transform: capitalize;

  &:hover {
    cursor: pointer;
  }

  &:hover {
    &:not(:disabled) {
      background-color: var(--color-secondary);
    }
  }

  &:focus {
    outline-width: 2px;
    outline-offset: 4px;
  }


  &:disabled {
    background-color: var(--color-disabled);
    opacity: 0.65;
    cursor: not-allowed;
  }

}

.button-secondary {
  --shadow-color: var(--color-primary);
  box-shadow: inset 0 0 0 2px var(--shadow-color);
  background-color: transparent;
  color: var(--color-primary);

  &:hover {
    &:not(:disabled) {
      background-color: var(--bg-gray);
    }
  }

  &:disabled {
    --shadow-color: var(--color-disabled);
    color: var(--color-white);
  }
}