@use '/styles/common.scss';

.button {
  border-radius: var(--radius-small);
  background-color: var(--color-primary);
  color: rgb(255, 255, 255);
  font-weight: 700;
  border: none;
  padding: 0.5rem 0.8rem;
  text-align: center;
  display: flex;
  justify-content: center;
  text-transform: capitalize;

  &:hover,
  &:focus {
    box-shadow: var(--shadow-focus);
  }

  &:focus {
    outline: none;
    box-shadow: var(--shadow-focus);
  }


  &:disabled {
    opacity: 0.5;
  }

  @include common.mediaquery('desktop') {
    border-radius: var(--radius-medium);
    padding: 0.5rem 0.9rem;
  }
}

.button-secondary {
  @extend .button;
  background-color: var(--bg-primary);
  color: var(--color-primary);
  box-shadow: inset 0 0 0 2px var(--color-primary);

  &:focus,
  &:hover {
    box-shadow: inset 0 0 0 2px var(--color-primary), var(--shadow-focus);
  }

  &:disabled {
    background-color: transparent;
    opacity: 0.6;
  }
}