@use '/src/styles/common';

.homePost {
  width: var(--post-width);
  background-color: var(--color-secondary);
  padding: 1rem 1rem;
  border-radius: calc(0.5rem + var(--radius-small));
  box-shadow: var(--shadow-pimary);

  @include common.mediaquery('desktop') {
    padding: 1rem 1.5rem;
  }
}