@use '/src/styles/common';

.homePost {
  width: var(--post-width);
  background-color: var(--color-secondary);
  padding: 1rem 0.75rem;
  box-shadow: 0 1px 2px var(--shadow-2);
  border-radius: var(--radius-medium);
}