@use '/src/styles/common';

.homePost {
  width: var(--post-width);
  background-color: var(--color-secondary);
  padding: 1rem 0.75rem;
  border-radius: var(--radius-medium);

  box-shadow: var(--shadow-pimary);
}