@use '/src/styles/common';

.textAreaContainer {
  position: relative;
}

.textArea {
  border: none;
  min-width: 100%;
  width: 100%;
  height: 100%;
  resize: vertical;
  min-height: 7rem;
  max-height: 12rem;
  padding: 1rem;
  border-radius: var(--radius-small);
  border: var(--border-gray);
  background-color: var(--bg-secondary);

  &:focus {
    outline: none;
    border-color: var(--color-primary);

    & + .label {
      transform: translate(0.5rem, -0.75rem);
      background-color: var(--bg-primary);
    }
  }
}

.label {
  color: var(--text-secondary);
  text-transform: capitalize;
  position: absolute;
  left: 0;
  top: 0;
  transition: all var(--transition);
  transition-property: background-color, transform;
  transform: translate(0.5rem, 1rem);
  display: inline-block;
  padding: 0 0.5rem;
}

.error {
  color: var(--color-error);
  font-weight: 700;
  margin-top: 0.5rem;
}
