@use "common";

.button {
  @include common.button;

  &:disabled {
    background-image: none;
    background-color: var(--color-gray);
    color: var(--color-text-gray);
  }

  @include common.mediaquery("desktop") {
    &:hover {
      background: linear-gradient(
        135deg,
        var(--color-accent),
        var(--color-accent-darker)
      );
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px var(--color-primary), 0 0 0 4px var(--color-accent);
    }

    &:hover:disabled {
      background-image: none;
      background-color: var(--color-gray);
      color: var(--color-text-gray);
    }
  }

  & > * {
    flex-shrink: 0;
  }
}

.secondary {
  @include common.button;
  color: var(--color-text);
  background-image: none;
  background-color: transparent;
  box-shadow: inset 0 0 0 1px var(--color-gray);

  @include common.mediaquery("desktop") {
    &:hover {
      color: var(--color-secondary);
      background-color: var(--color-gray-active);
    }
  }
}

.destructive {
  @include common.button;
  color: var(--color-text);
  background-image: none;
  background-color: var(--color-error-light);

  @include common.mediaquery("desktop") {
    &:hover {
      background-image: none;
      background-color: var(--color-error-light-active);
    }
  }
}
