@use '/styles/common.scss';

.placeholder {
  background-color: var(--bg-secondary);
  width: var(--post-width);
  height: 20rem;
  border-radius: var(--radius-medium);
  opacity: 0.5;
  animation: skeleton-loading 1s linear infinite alternate;
  box-shadow: var(--shadow-primary);
  margin: 0 auto;
  margin-bottom: 4rem;

  @include common.mediaquery('desktop') {
    height: 40rem;
  }
}

@keyframes skeleton-loading {
  0% {
    background-color: var(--bg-secondary);
  }

  100% {
    background-color: rgb(190, 190, 190);
  }
}