@use '/styles/common.scss';

.placeholder {
  width: var(--post-width);
  height: 30rem;
  border-radius: var(--radius-small);
  opacity: 0.5;
  background-size: var(--placeholder-bg-size);
  background-image: var(--gradient);
  animation: var(--placeholder-animation);
  margin: 0 auto;
  margin-bottom: 4rem;

  @include common.mediaquery('tablet') {
    height: 35rem;
  }

  @include common.mediaquery('desktop') {
    border-radius: var(--radius-big);
    height: 45rem;
  }
}



.small {
  height: 12rem;
  margin: 0;

  @include common.mediaquery('tablet') {
    height: 20rem;
  }

  @include common.mediaquery('desktop') {
    height: 15rem;
  }
}