@use '/src/styles/common';


@keyframes animate-bg {
  0% {
    background-color: var(--color-secondary);
  }

  50% {
    background-color: var(--color-gray);
  }

  90% {
    background-color: var(--color-secondary);
  }
}

%gradient {
  background-size: var(--placeholder-bg-size);
  background-color: var(--color-secondary);
  animation: animate-bg 2s ease infinite;
}

.placeholder {
  width: var(--post-width);
  border-radius: var(--radius-small);
  opacity: 0.5;
  display: flex;
  flex-direction: column;
  height: 22rem;
  @extend %gradient;
  box-shadow: var(--shadow-pimary);

  @include common.mediaquery('tablet') {
    height: 30rem;
  }

  @include common.mediaquery('desktop') {
    border-radius: var(--radius-big);
    height: 45rem;
  }
}