@use '/src/styles/common';


.placeholder {
  width: var(--post-width);
  border-radius: var(--radius-small);
  opacity: 0.5;
  display: flex;
  flex-direction: column;
  height: 22rem;
  background-color: var(--color-secondary);
  animation: var(--skeleton-animation);
  box-shadow: var(--shadow-border);

  @include common.mediaquery('tablet') {
    height: 30rem;
  }

  @include common.mediaquery('desktop') {
    border-radius: var(--radius-big);
    height: 45rem;
  }
}