@use '/styles/common.scss';

.posts {
  display: grid;
  place-content: center;
  margin-top: 2rem;
  gap: 0.5rem;
  grid-template-columns: repeat(2, 1fr);

  @include common.mediaquery('lg') {
    margin: 0 20rem;
    margin-top: 6rem;
    gap: 4rem;
    grid-template-columns: repeat(2, 1fr);
  }

  @include common.mediaquery('xl') {
    gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
  }
}