@use '/src/styles/common';

.loading {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-primary);
  --loader-size: 5rem;

  >svg {
    width: var(--loader-size);
    height: var(--loader-size);
    animation: rotate 1s infinite linear forwards;
  }

  @include common.mediaquery('desktop') {
    --loader-size: 7rem;
  }

}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.margin-top {
  margin-top: 3rem;

  @include common.mediaquery('desktop') {
    margin-top: 6rem;
  }
}

.small {
  --loader-size: 1.5erem;
}

.white {
  color: var(--color-white);
}

.blue {
  color: var(--color-primary);
}

.marginTop {
  margin-top: 4rem;

  @include common.mediaquery('desktop') {
    margin-top: 10rem;
  }
}