@use '/styles/common.scss';

.header {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-content: center;
  background-color: var(--bg-white);
  border-bottom: var(--border-secondary);
  padding: 0 2rem;

  @include common.mediaquery('sm') {
    padding: 0 calc(2rem + 10vw);
  }

  @include common.mediaquery('lg') {
    grid-template-columns: repeat(3, 1fr);

  }

  @include common.mediaquery('xl') {
    padding: 0 calc(5rem + 15vw);
  }
}

.heading {
  margin: 1.5rem 0;
  font-size: 3rem;
}

.nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-white);
  bottom: 0;
  left: 0;
  padding-top: 0.5rem;
  border-top: var(--border-secondary);
  z-index: 1;

  @include common.mediaquery('lg') {
    position: static;
    justify-content: flex-end;
    padding: 0;
    background-color: transparent;
  }
}

.list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0 3rem;
  width: 100%;

  @include common.mediaquery('lg') {
    justify-content: flex-end;
    align-items: center;
    margin: 0;
  }

  gap: 3rem;
}

.listItem {

  border: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.listItemTitle {
  font-size: 1.5rem;

  @include common.mediaquery('lg') {
    display: none;
  }
}

.listItemChild {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-direction: column;
  font-size: var(--itemSize);
}

.listItemButton {
  background-color: transparent;
  border: none;
}

.listItemImage {
  width: var(--itemSize);
  height: var(--itemSize);
  border-radius: 100%;
}