@use '/styles/common.scss';

.header {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-content: center;
  background-color: rgb(255, 255, 255, 0.77);
  backdrop-filter: blur(18px);
  border-bottom: var(--border-secondary);
  padding: 0 2rem;
  position: sticky;
  top: 0;
  z-index: 2;

  @include common.mediaquery('sm') {
    padding: 0.5rem calc(2rem + 10vw);
  }

  @include common.mediaquery('lg') {
    grid-template-columns: repeat(3, 1fr);
  }

  @include common.mediaquery('xl') {
    padding: 0 calc(5rem + 15vw);
  }
}

.anchor {
  display: flex;
  align-self: center;
  justify-self: flex-start;
}

.heading {
  font-size: 2.5rem;
  font-weight: 900;

  @include common.mediaquery('lg') {
    font-size: 3rem;
  }
}