@use '/styles/common.scss';


.header {
  @include common.mediaquery('desktop') {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    margin-left: 5vw;
    width: var(--header-width);
    border-right: var(--border-gray);
    position: fixed;
    top: 0;
    left: 0;
    gap: 4rem;
    height: 100vh;
  }
}

.anchor {
  display: none;

  @include common.mediaquery('desktop') {
    display: unset;
  }
}

.options {
  margin-top: auto;
  position: relative;
}

.button {
  display: none;

  @include common.mediaquery('desktop') {
    padding: 0.5rem 1rem;
    border-radius: var(--radius-big);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.75rem;

    transition: var(--transition);
  }

  &:hover,
  &:focus {
    background-color: var(--bg-secondary);
  }
}

.userInfo {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: left;
  padding-right: 1rem;


}

.name {
  max-width: 8rem;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-shrink: 1;
}

.icon {
  flex-shrink: 0;
  margin-left: auto;
}

.username {
  max-width: 8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}