@use '/styles/common.scss';

.createPost {
  display: grid;
  width: clamp(20rem, 70%, 60rem);
  margin: 2rem auto;
  margin-bottom: 4rem;
  gap: 2rem;
}

.actionButtons {
  display: flex;
  justify-content: space-between;
}

.textAreaContainer {
  border: 1px solid var(--color-primary);
  border-radius: var(--radius-small);
  position: relative;

  @include common.mediaquery('desktop') {
    display: flex;
  }
}

.label {
  position: absolute;
  background-color: var(--bg-secondary);
}

.loadingContainer {
  display: flex;
  flex-direction: column;
}

.addPhoto {
  display: grid;
  width: 100%;
}