@use '/styles/common.scss';

.createPost {
  display: grid;
  row-gap: 4rem;
  margin-inline: calc(2rem + 4vw);

  @include common.mediaquery('lg') {
    width: var(--create-post-width);
    margin-inline: auto;
    row-gap: 6rem;
  }
}

.actionButtons {
  display: flex;
  justify-content: space-between;
}

.input,
.actionButtons {
  @include common.mediaquery('lg') {
    margin-inline: auto;
    width: 80%;
  }
}

.textAreaContainer {
  border: 2px solid var(--color-primary);
  border-radius: var(--radius-small);
  position: relative;

  @include common.mediaquery('lg') {
    margin-inline: auto;
    width: 80%;
    display: flex;
  }
}

.textArea {
  border: none;
  background-color: transparent;
  padding: 2rem 1rem;
  font: inherit;
  resize: vertical;
  max-width: 100%;
}

.label {
  position: absolute;
  left: 1rem;
  top: -1.5rem;
  background-color: var(--bg-primary);
  padding: 0 1rem;
}