@use '/styles/common.scss';

.createPost {
  display: grid;
  row-gap: 4rem;
  width: var(--create-post-width);
  margin-inline: auto;

  @include common.mediaquery('lg') {
    row-gap: 6rem;
  }
}

.actionButtons {
  display: flex;
  justify-content: space-between;
}