@use '/styles/common.scss';

.dialog {
  width: min(65rem, 95%);
  margin-inline: auto;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.heading {
  margin-bottom: 6rem;
}

.buttons {
  display: flex;
  gap: 5rem;
  justify-content: space-between;

  @include common.mediaquery('lg') {
    justify-content: flex-start;
  }
}