@use '/src/styles/common';

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.5rem;
  margin-bottom: 1rem;

  @include common.mediaquery('desktop') {
    gap: 1rem;
    font-size: 1.25rem;
    margin-bottom: 2rem;
  }
}

.input {
  padding: 0.75rem 0.75rem;
  border-radius: var(--radius-small);
  background-color: transparent;
  flex-grow: 1;

  &:focus {
    outline: none;
    border-color: var(--color-primary);
  }

  &::placeholder {
    color: var(--text-black);
  }
}