@use '/src/styles/common';

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.5rem;
  margin-bottom: 1rem;

  @include common.mediaquery('desktop') {
    gap: 2rem;
    margin-bottom: 2rem;
  }
}

.inputContainer {
  max-width: 60%;

  @include common.mediaquery('tablet') {
    max-width: unset;
  }
}