@use '/src/styles/common';

.container {
  position: relative;
  z-index: 1;
  width: calc(20rem + 1rem);
  background-color: var(--bg-primary);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: var(--radius-small);
  padding: 0.5rem 1rem;

  @include common.mobile-landscape {
    width: auto;
  }

  @include common.mediaquery('tablet') {
    padding: 0;
    width: clamp(15rem, 60vw, 70rem);
    border-radius: var(--radius-medium);
  }
}

.closeButton {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  padding: 0.5rem 0;

  @include common.mediaquery('desktop') {
    padding: 1rem 0.5rem;
  }
}

.columns {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 55vh;
  max-height: 55dvh;

  @include common.mediaquery('desktop') {
    height: 40rem;
    gap: 3rem;
    flex-direction: row;
  }
}

.leftColumn {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightColumn {
  flex-grow: 1;

  @include common.mediaquery('desktop') {
    padding: 1rem 0;
    padding-right: 1rem;
  }
}

.postButtons {
  padding-right: 1rem;
}

.commentsContainer {
  margin-top: 2rem;

  @include common.mobile-landscape {
    margin-top: 0;
  }
}