@use '/src/styles/common';

.container {
  position: relative;
  z-index: 1;
  width: clamp(23rem, 85vw, 50rem);
  background-color: var(--color-primary);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: var(--radius-medium);
  padding: 1rem 1rem;

  @include common.mobile-landscape {
    width: auto;
  }

  @include common.mediaquery('tablet') {
    padding: 1rem;
    width: clamp(30rem, 50vw, 50rem);
    border-radius: var(--radius-medium);
  }

  @include common.mediaquery('desktop') {
    padding: 1rem 2rem;
  }
}

.closeButton {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  padding-bottom: 0.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  min-height: 45vh;
  min-height: 45dvh;
  max-height: 65vh;
  max-height: 65dvh;

  @include common.mediaquery('desktop') {
    gap: 2rem;
  }
}

.carousel {
  margin: 0 auto;
}

.postButtons {
  padding-right: 1rem;
}

.commentsContainer {
  margin-top: 1rem;

  @include common.mobile-landscape {
    margin-top: 0;
  }

  @include common.mediaquery('desktop') {
    margin-top: 0;
  }
}