@use '/src/styles/common';

.container {
  position: relative;
  z-index: 1;
  width: clamp(20rem, 55vw, 70rem);
  background-color: var(--color-primary);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: var(--radius-small);
  padding: 0.5rem 1rem;

  @include common.mobile-landscape {
    width: auto;
  }

  @include common.mediaquery('tablet') {
    border-radius: var(--radius-medium);
  }
}

.closeButton {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  padding: 0.5rem 0;

  @include common.mediaquery('desktop') {
    padding: 1rem 0.5rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 55vh;
  max-height: 55dvh;

  @include common.mediaquery('desktop') {
    gap: 3rem;
  }
}

.postButtons {
  padding-right: 1rem;
}

.commentsContainer {
  margin-top: 2rem;

  @include common.mobile-landscape {
    margin-top: 0;
  }
}