@use '/styles/common.scss';

.button {
  border: none;
  background-color: transparent;
}

.avatar {
  height: 3rem;
  width: 3rem;
}

.options {
  position: absolute;
  background-color: var(--bg-primary);
  box-shadow: var(--shadow-secondary);
  top: -15.5rem;
  left: -13.5rem;
  border-radius: var(--radius-small);
  min-width: 20rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-size: 2rem;


  &::before {
    @include common.mediaquery('lg') {
      content: '';
    }

    position: inherit;
    --triangle-size: 1.25rem;
    right: calc(var(--triangle-size) * 2);
    top: calc(var(--triangle-size) * -1 + 3px);
    border-left: var(--triangle-size) solid transparent;
    border-right: var(--triangle-size) solid transparent;
    border-bottom: var(--triangle-size) solid var(--bg-primary);
    filter: drop-shadow(0 -1px 1px var(--border-secondary-color));
  }



  @include common.mediaquery('lg') {
    top: 4.5rem;
    left: unset;
    right: -2.5rem;
    min-width: 23rem;
  }
}


%hover {

  &:hover,
  &:focus {
    background-color: var(--bg-gray);
  }
}

.link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  margin: 0;
  text-transform: capitalize;
  padding: 1rem 0;
  padding-left: 2rem;
  width: 100%;

  @extend %hover;
}

.signOut {
  border: none;
  background-color: transparent;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  padding: 1rem 0;
  padding-left: 2rem;
  width: 100%;
  border-top: var(--border-primary);
  @extend %hover;
}

.welcome {
  font-weight: 700;
  padding: 1rem 0;
  padding-left: 2rem;
}