@use '/styles/common.scss';

.options {
  background-color: var(--bg-primary);
  position: absolute;
  box-shadow: var(--shadow-secondary);
  top: -15.5rem;
  left: -13.5rem;
  border-radius: var(--radius-small);
  min-width: 20rem;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-size: 2rem;
  gap: 2rem;
  padding: 1rem 0;
  padding-left: 2rem;

  @include common.mediaquery('lg') {
    top: 4.5rem;
    left: -14rem;
  }
}


.link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  margin: 0;
  text-transform: capitalize;
}

.signOut {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.welcome {
  font-weight: 600;
}

.button {
  border: none;
  background-color: transparent;
}

.avatar {
  height: var(--itemSize);
  width: var(--itemSize);
}