@use '/src/styles/common';

.header {
  @include common.mediaquery('desktop') {
    background-color: var(--color-secondary);
    box-shadow: var(--shadow-pimary);
    border-radius: var(--radius-big);
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 3rem 0;
    margin-left: 6rem;
    padding: 2rem 1rem;
    width: var(--header-width);
    position: sticky;
    top: 3rem;
    height: calc(100vh - 6rem);
    overflow: auto;
    left: 0;
    gap: 4rem;
  }
}

.anchor {
  display: none;

  @include common.mediaquery('desktop') {
    display: unset;
    margin-left: 1rem;
  }
}

.signedInInfo {
  display: none;

  @include common.mediaquery('desktop') {
    box-shadow: var(--shadow-pimary);
    margin: 0;
    margin-top: auto;
    position: relative;
    padding: 0.5rem;
    background-color: var(--color-primary);
    border-radius: var(--radius-medium);
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
  }
}

.info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.userNameInfo {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  text-align: left;
}

.name {
  max-width: 8rem;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-shrink: 1;
}

.icon {
  flex-shrink: 0;
  margin-left: auto;
}

.username {
  max-width: 8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}