@use '/src/styles/common';

.header {
  @include common.mediaquery('desktop') {
    background-color: var(--color-secondary);
    box-shadow: 0 2px 1px var(--shadow-1);
    border-radius: var(--radius-big);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 3rem 5vw;
    padding: 2rem 1rem;
    width: var(--header-width);
    position: sticky;
    top: 3rem;
    max-height: 88vh;
    left: 0;
    gap: 4rem;
  }
}

.anchor {
  display: none;

  @include common.mediaquery('desktop') {
    display: unset;
    margin-left: 1rem;
  }
}

.options {
  margin-top: auto;
  position: relative;
}

.button {
  display: none;

  @include common.mediaquery('desktop') {
    padding: 0.5rem;
    border-radius: var(--radius-medium);
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 0.5rem;
    margin: 0;
    transition: all var(--transition);
    transition-property: background-color, box-shadow;
  }

  &:hover,
  &:focus {
    background-color: var(--color-secondary);
  }

  &:focus {
    outline: none;
    box-shadow: var(--shadow-focus);
  }
}

.userInfo {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: left;
}

.name {
  max-width: 8rem;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-shrink: 1;
}

.icon {
  flex-shrink: 0;
  margin-left: auto;
}

.username {
  max-width: 8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}