@use '/src/styles/common';

.nav {
  padding: 0.25rem 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: fixed;
  bottom: 1rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: clamp(20rem, 60vw, 30rem);
  z-index: 3;
  border-radius: var(--radius-medium);
  box-shadow: 0 1px 3px 0 rgb(0, 0, 0, 0.3);
  background-color: var(--color-secondary);


  @include common.mediaquery('tablet') {
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
    width: 100%;
    padding: 0;
    position: static;
    flex-direction: column;
    margin: 0;
    justify-content: flex-start;
    align-items: flex-start;
  }

}