@use '/src/styles/common';

.navbar {
  padding: 0.25rem 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: fixed;
  bottom: 1rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: clamp(20rem, 60vw, 25rem);
  z-index: 3;
  border-radius: var(--radius-medium);
  box-shadow: var(--shadow-border);
  background-color: var(--color-secondary);

  @include common.mediaquery('tablet') {
    padding: 0.5rem;
  }
}

.navbarDesktop {
  background-color: var(--color-secondary);
  padding: 1rem;
  flex: 0 0 20rem;
  --gap-top: 3rem;
  height: calc(100vh - calc(var(--gap-top) * 2));
  overflow: auto;
  top: var(--gap-top);
  position: sticky;
  box-shadow: var(--shadow-border);
  border-radius: calc(var(--radius-medium) + 0.5rem);
  margin-left: 6rem;
  display: flex;
  flex-direction: column;
}

.heading {
  margin-left: 0.75rem;
  margin-top: 1rem;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.signedInInfo {
  box-shadow: var(--shadow-border);
  margin-top: auto;
  margin: 0;
  margin-top: auto;
  position: relative;
  padding: 0.5rem;
  background-color: var(--color-primary);
  border-radius: var(--radius-medium);
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.userNameInfo {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  text-align: left;
}

.name {
  max-width: 12ch;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-shrink: 1;
}

.icon {
  flex-shrink: 0;
  margin-left: auto;
}

.username {
  max-width: 8ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}