@use '/src/styles/common';

.nav {
  padding: 0.25rem 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: fixed;
  bottom: 1rem;
  left: 1.5rem;
  right: 1.5rem;
  width: auto;
  margin: 0 auto;
  z-index: 3;
  border-radius: var(--radius-medium);
  box-shadow: 0 1px 3px 0 rgb(0, 0, 0, 0.3);
  background-color: var(--color-secondary);
}

.navDesktop {
  background-color: transparent;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 3rem;
}