@use '/styles/common.scss';

.post {
  border-radius: var(--radius-medium);
  background-color: var(--bg-primary);
  box-shadow: var(--shadow-secondary);
}


.image {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-block: var(--border-secondary);
  background-color: var(--bg-primary);
}

.bottom {
  font-size: 2rem;
  display: grid;
  gap: 1rem;
  padding: 0 1.5rem;
  padding-bottom: 1.5rem;
}


.description {
  word-break: break-all;
  font-size: 1.75rem;

  @include common.mediaquery('lg') {
    font-size: 2rem;
  }
}

.author {
  font-weight: 600;

  &::after {
    content: ' ';
  }
}

.showMore {
  background-color: transparent;
  border: none;
  color: var(--color-primary);
  cursor: pointer;
}

.count {
  font-size: 2rem;
  font-weight: 600;
  position: relative;
}

.date {
  font-size: 1.75rem;

  @include common.mediaquery('lg') {
    font-size: 2rem;
  }
}