@use '/styles/common.scss';

.container {
  max-width: 100rem;
  margin-inline: auto;
}

.account {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;

  @include common.mediaquery('lg') {
    align-items: center;
    column-gap: 5rem;
    grid-template-columns: 1fr 1.75fr;
    grid-template-rows: auto auto 1fr 1fr;
  }
}

.avatar {
  --account-avatar-size: 11rem;
  width: var(--account-avatar-size);
  height: var(--account-avatar-size);
  margin: 1rem 0;
  justify-self: center;

  @include common.mediaquery('lg') {
    --account-avatar-size: 14rem;
    width: var(--account-avatar-size);
    height: var(--account-avatar-size);
    margin: 0;
    grid-column: 1/1;
    grid-row: 1/3;
    position: relative;
    top: 2rem;
  }
}


.username {
  font-size: 2.5rem;
  text-align: center;
  align-self: center;

  &::before {
    content: '@';
  }

  @include common.mediaquery('lg') {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: left;
    font-size: 3.5rem;
  }
}

.name {
  font-weight: 600;
  text-align: center;

  @include common.mediaquery('lg') {
    text-align: left;
    grid-column: 2/3;
    grid-row: 3/4;
    font-size: 2rem;
  }
}

.bio {
  color: var(--text-secondary);
  text-align: center;

  @include common.mediaquery('lg') {
    font-size: 2rem;
    text-align: left;
    grid-column: 2/3;
    grid-row: 4/5;
  }
}

.button {
  display: flex;
  margin: 1.5rem 0;
  align-items: center;
  gap: 0.5rem;
  text-transform: capitalize;
  justify-self: center;

  @include common.mediaquery('lg') {
    position: relative;
    margin: 0;
    grid-row: 4/5;
  }
}

.list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 2rem;
  margin-top: 1rem;

  @include common.mediaquery('lg') {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    gap: 4rem;
    grid-row: 2/3;
  }
}

.listItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  @include common.mediaquery('lg') {
    text-align: left;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }
}

.listItemNumber {
  font-weight: 600;
  font-size: 2rem;

  @include common.mediaquery('lg') {
    font-size: unset;
  }
}

.listItemText {
  color: var(--text-secondary);

  &::first-letter {
    text-transform: uppercase;
  }
}