@use '/src/styles/common';

.slider {
  width: 100%;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.imagesContainer {
  position: relative;
  display: flex;
  --gap: 2rem;
  gap: var(--gap);
  width: 100%;
}

.grab {
  cursor: grab;
}

.row {
  display: flex;
}

.image {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  flex-shrink: 0;
}

.progress {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 3rem;
  text-align: center;
  padding: 0.25rem 0;
  background-color: var(--color-primary);
  box-shadow: var(--shadow-border-small);
  border-radius: var(--radius-small);
}