@use '/src/styles/common';

.slider {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: var(--radius-medium);
}

.imagesContainer {
  position: relative;
  display: flex;
  width: 100%;
}

.grab {
  cursor: grab;
}

.row {
  display: flex;
}

.image {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.postSliderProgress {
  position: absolute;
  bottom: 0.75rem;
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  left: 0;
  right: 0;
  gap: 0.35rem;
  z-index: 2;
  list-style-type: none;
  padding: 0.35rem 0.5rem;
  background-color: var(--color-primary);
  border-radius: var(--radius-small);
  box-shadow: var(--shadow-secondary);
}

.progressDot {
  width: 0.75rem;
  height: 0.75rem;
  background-color: var(--color-primary);
  border-radius: 100%;
}