@use 'styles/common';

.notification {
	position: fixed;
	left: 0;
	right: 0;
	top: 2rem;
	margin: 0 auto;
	width: max-content;
	z-index: 3;
	border: none;
	border-radius: var(--radius-small);
	box-shadow: 0 0 3px 1px var(--shadow-200);
	background-color: var(--color-accent);
	color: var(--color-always-black);
	padding: 0.5rem 0.7rem;
	display: flex;
	gap: 0.5rem;
	align-items: center;
}
