@use '/src/styles/common';

.dropZone {
  box-shadow: var(--shadow-secondary);
  border-radius: var(--radius-small);
  background-color: var(--color-secondary);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  transition: var(--transition);
  gap: 1rem;
  padding: 2rem 0;
}

.dropZoneState {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

%commonActiveState {
  box-shadow: var(--shadow-focus);
  color: var(--color-primary);
}

.dropZoneError {
  background-color: var(--color-secondary);
}

.dropZoneActive {
  @extend %commonActiveState;
}

.dropIcon {
  width: 3rem;
  height: 3rem;
}

.dropIconError {
  @extend .dropIcon;
  color: var(--color-error);
}