@use '/styles/common.scss';

.header {
    display: flex;
    padding: 1rem 0.5rem;

    @include common.mediaquery('desktop') {
        padding: 1rem 1rem;
    }
}

.userAnchor {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-size: 0.8rem;
}

.username {
    max-width: 7rem;
    overflow: hidden;
    text-overflow: ellipsis;

    @include common.mediaquery('desktop') {
        max-width: 10rem;
    }
}


.options {
    margin-left: auto;
    display: flex;
    gap: 1rem;
    align-items: center;
}