@use 'styles/common';

.layout {
	padding-bottom: 4rem;
	min-height: 100dvh;

	@include common.mediaquery('desktop') {
		display: grid;
		grid-template-columns:
			calc(var(--navbar-desktop-margin) + var(--navbar-desktop-width))
			3fr;
		padding-bottom: 0;
		gap: 3rem;
	}
}

.container {
	margin-top: 1rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;

	@include common.mediaquery('desktop') {
		margin-top: 3rem;
		margin-right: 5vw;
		margin-bottom: 2rem;
		grid-column: 2 / 3;
	}

	@include common.mediaquery('desktop-big') {
		margin-right: 15vw;
	}
}
