@use '/styles/common.scss';

.imagesContainer {
  position: relative;
  display: flex;

  height: 100%;

  &:hover {
    cursor: grab;
  }
}

.slider {
  display: flex;
  align-items: center;
  min-height: 10rem;
  position: relative;
  overflow: hidden;

  @include common.mobile-landscape {
    min-height: 15rem;
  }
}

.figure {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderImage {
  height: auto;
  background-color: var(--text-black);
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  max-width: unset;
  flex-shrink: 0;
  pointer-events: none;
  width: var(--post-width);

  @include common.mediaquery('tablet') {
    max-height: 37rem;
    object-fit: contain;
  }
}

.sliderImageLoading {
  width: 0;
  height: 0;
}

.button {
  --button-width: 2.5rem;
  width: var(--button-width);
  height: var(--button-width);
  position: absolute;
  margin: auto 0;

  border: none;
  background-color: var(--color-primary);
  color: rgb(255, 255, 255);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 1rem;
  z-index: 2;
  box-shadow: var(--shadow-primary);

  &:hover,
  &:focus {
    outline: none;
    box-shadow: var(--shadow-focus);
  }

  >svg {
    stroke-width: 3;
  }
}

.buttonRight {
  left: unset;
  right: 1rem;
}

.postSliderProgress {
  position: absolute;
  bottom: 0.5rem;
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  left: 0;
  right: 0;
  gap: 0.35rem;
  z-index: 2;
  list-style-type: none;
  padding: 0.35rem 0.5rem;
  background-color: var(--bg-blur);
  backdrop-filter: var(--backdrop-blur);
  border-radius: var(--radius-small);
  box-shadow: var(--shadow-secondary);
}

.progressDot {
  width: 0.75rem;
  height: 0.75rem;
  background-color: var(--color-primary);
  border-radius: 100%;
}