@use '/styles/common.scss';

.imagesContainer {
  position: relative;
  display: flex;

  height: 100%;

  &:hover {
    cursor: grab;
  }
}

.slider {
  display: flex;
  align-items: center;
  min-height: 30rem;
  position: relative;
  overflow: hidden;
}

.figure {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderImage {
  height: auto;
  background-color: var(--bg-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  max-width: unset;
  flex-shrink: 0;
  pointer-events: none;
  width: 32rem;

  @include common.mediaquery('lg') {
    width: 45rem;
  }
}

.button {
  --button-width: 5rem;
  width: var(--button-width);
  height: var(--button-width);
  position: absolute;
  margin: auto 0;

  border: none;
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 1rem;
  z-index: 2;
  transition: box-shadow 0.2s ease;

  &:hover,
  &:focus {
    outline: none;
    box-shadow: var(--shadow-focus);
  }

  >svg {
    stroke-width: 3;
  }
}

.buttonRight {
  left: unset;
  right: 1rem;
}

.statusDots {
  position: absolute;
  bottom: 1rem;
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  left: 0;
  right: 0;
  gap: 1rem;
  z-index: 2;
  list-style-type: none;
}

.dot {
  --dot-size: 1.5rem;

  border: 0;

  border-radius: 100%;
  background-color: var(--color-primary);
  width: var(--dot-size);
  height: var(--dot-size);
}