@use '/styles/common.scss';

.cropContainer {
  position: relative;
  overflow: hidden;
  min-height: 20rem;
  width: clamp(17rem, 40vw, 60rem);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-medium);
  box-shadow: var(--shadow-focus);
}

.button {
  width: 80%;
  margin: 0 auto;

  &:last-child {
    flex-grow: 1;
  }


  @include common.mediaquery('desktop') {
    width: 70%;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 1rem;

  @include common.mediaquery('desktop') {
    gap: 5rem;
    flex-direction: row;
  }
}