@use '/styles/common.scss';

.reactCrop {
  border-radius: var(--radius-medium);
  border: 4px solid var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  max-width: 18rem;

  @include common.mediaquery('desktop') {
    max-width: 70rem;
    margin: 3rem auto;
  }
}

.cropContainer {
  position: relative;
  overflow: hidden;
  min-height: 20rem;
  width: clamp(17rem, 60%, 50rem);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-big);
  box-shadow: var(--shadow-focus);

}

.button {
  width: 80%;
  margin: 0 auto;

  @include common.mediaquery('desktop') {
    width: 70%;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 1rem;

  @include common.mediaquery('desktop') {
    gap: 5rem;
    flex-direction: row;
  }
}