@use '/src/styles/common';

.nav {
  width: 100%;

  @include common.mediaquery('desktop') {
    width: auto;
  }
}

.list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include common.mediaquery('desktop') {
    gap: 2rem;
  }
}

.link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  border-radius: var(--radius-big);
  background-color: var(--bg-primary);
  padding: 0.5rem 1rem;
  width: 100%;
  transition: background-color var(--transition);

  &:hover,
  &:focus {
    background-color: var(--bg-secondary);
  }

  &:focus {
    outline: none;
    box-shadow: var(--shadow-focus);
  }

  @include common.mediaquery('desktop') {
    width: auto;
    gap: 1rem;
  }
}

.name {
  display: flex;
  flex-direction: column;

  @include common.mediaquery('desktop') {
    font-size: 1.5rem;
  }
}

.fullName {
  font-weight: 700;
}

.username {
  max-width: 18rem;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.8em;
  color: var(--text-gray);

  @include common.mediaquery('desktop') {
    max-width: unset;
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
