@use '/styles/common.scss';

.list {
  list-style: none;
}

.headingContainer {
  display: flex;
}

.container {
  position: relative;
  width: 100%;

  @include common.mediaquery('desktop') {
    width: auto;
    min-width: 40rem;
  }
}

.heading {
  background-color: var(--bg-primary);
  text-align: center;
  padding: 1rem 2rem;
  border-radius: var(--radius-medium) var(--radius-medium) 0 0;

  @include common.mobile-landscape {
    padding: 0.75rem 2rem;
  }
}

.listItem {
  font-weight: 700;
  overflow: hidden;
  border-top: var(--border-gray);

  &>button,
  a {
    transition: background-color var(--transition-fast);

    &:hover,
    &:focus {
      background-color: var(--bg-primary);
    }
  }
}

.listItemFirst {
  border-bottom: 0;
  border-radius: var(--radius-medium) var(--radius-medium) 0 0;
}

.listItemLast {
  @include common.mobile-landscape {
    border-radius: 0 0 var(--radius-medium) var(--radius-medium);
  }

  @include common.mediaquery('desktop') {
    border-radius: 0 0 var(--radius-medium) var(--radius-medium);
  }
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 1rem 1.5rem;

  border: 0;
  background-color: var(--bg-primary);
  width: 100%;

  @include common.mediaquery('desktop') {
    gap: 2rem;
  }

  @include common.mobile-landscape {
    padding: 0.75rem 2rem;
  }
}