@use '/src/styles/common';

.container {
  width: clamp(20rem, 50vw, 44rem);
  display: flex;
  gap: 1rem;
  flex-direction: column;

  @include common.mediaquery('desktop') {
    background-color: var(--color-secondary);
    padding: 2.5rem 3rem;
    border-radius: var(--radius-big);
    box-shadow: var(--shadow-border-small);
  }
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}