@use '/styles/common';

.heartAnimation {
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;



    >svg {
        filter: drop-shadow(0 4px 10px rgb(20, 20, 20, 0.6));
        color: white;
        fill: white;

        width: 6rem;
        height: 6rem;

        @include common.mediaquery('desktop') {
            width: 9rem;
            height: 9rem;
        }
    }
}