.container {
	width: clamp(20rem, 55vw, 50rem);
	display: flex;
	gap: 1rem;
	flex-direction: column;

	@media (--large-viewport) {
		background-color: var(--color-secondary);
		gap: 3rem;
		padding: 2.5rem 3rem;
		border-radius: var(--radius-big);
		box-shadow: var(--shadow);
	}
}

.formContainer {
	display: flex;
	flex-direction: column;
	gap: 2rem;

	@media (--large-viewport) {
		gap: 4rem;
	}
}
