@use '/src/styles/common';

.container {
  background-color: var(--color-primary);
  padding: 1rem 0;
  width: clamp(20rem, 80vw, 30rem);
  border-radius: var(--radius-medium);
  position: relative;

  @include common.mediaquery('desktop') {
    width: clamp(20rem, 40vw, 35rem);
    border-radius: var(--radius-medium);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.heading {
  font-size: 1.5rem;
}

.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  min-height: 4rem;
  max-height: 20rem;
  overflow-y: auto;
}

.noData {
  padding: 1rem;
  text-align: center;
}

.placeholder {
  margin: 0.5rem 1.5rem;
  background-size: var(--placeholder-bg-size);
  background-image: var(--gradient);
  animation: var(--placeholder-animation);
  min-height: 2.5rem;
  border-radius: var(--radius-small);
}