@use '/styles/common.scss';

.aspectRatioButtons {
  display: grid;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);


  @include common.mediaquery('desktop') {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }
}

.button {
  width: 100%;
  text-transform: capitalize;
}

.container {
  display: flex;
  justify-content: stretch;
  align-items: center;

  &:last-child {
    grid-column: 1 / 3;
  }

  @include common.mediaquery('desktop') {
    &:last-child {
      grid-column: auto;
    }
  }
}