@use '/styles/common.scss';

.aspectRatioButtons {
  display: grid;
  gap: 2rem;

  @include common.mediaquery('lg') {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }
}

.button {
  text-transform: capitalize;
}