@use '/src/styles/common';

.notification {
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: max-content;
  z-index: 3;
  top: 1rem;
  border: none;
  border-radius: var(--radius-small);
  background-color: var(--color-accent);
  color: var(--color-always-black);
  padding: 0.5rem 0.7rem;
  font-size: 1.25rem;
  display: flex;
  gap: 0.2rem;
  align-items: center;
  font-weight: 500;
}