.error {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 5rem;
	gap: 2rem;
}

.link {
	text-decoration-line: underline;
	text-decoration-style: solid;
	font-size: 1.5rem;
	text-decoration-thickness: 0.1rem;
}
