.container {
	text-align: center;
	text-wrap: balance;
	padding: 3rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;

	@media (--large-viewport) {
		padding: 7rem 4rem;
	}
}

.tryAgain {
	font-size: 1.5rem;

	@media (--large-viewport) {
		font-size: 2rem;
	}
}
