.container {
	display: flex;
	flex-direction: column;
	position: relative;
	gap: 0.5rem;
	--gap: 0.7rem;
}

.containerError {
	border-color: var(--color-error);
}

.label {
	color: var(--color-text-gray);
	transition: all var(--transition);
	transition-property: background-color, transform, opacity;
	display: inline-block;
	margin-left: var(--margin-label);
}

.input {
	background-color: var(--color-secondary);
	padding: 1rem var(--gap);
	border-radius: var(--radius-small);
	border: 1px solid var(--shadow-100);
	box-shadow: var(--shadow);
	color: var(--color-text);

	&:focus {
		outline: none;
	}
}

.primary {
	background-color: var(--color-secondary);
}

.secondary {
	@media (--large-viewport) {
		background-color: var(--color-primary);
	}
}

.inputError {
	border-color: var(--color-error-light);
}

.error {
	color: var(--color-error);
	padding-left: var(--gap);
	font-weight: 400;
	margin-left: var(--margin-label);
	margin-top: 0.25rem;
}
