@use '/styles/common.scss';

.footer {
    padding: 0.5rem 1rem;

    @include common.mediaquery('desktop') {
        padding: 1rem;
    }
}

.descriptionContainer {
    margin-top: 0.5rem;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.description {
    display: inline;
}

.author {
    font-weight: 600;

    &::after {
        content: ' ';
    }
}

.showMore {
    background-color: transparent;
    border: none;
    color: var(--color-primary);
}

.date {
    padding: 0.5rem 0;
}