@use '/src/styles/common';

.cropContainer {
  position: relative;
  overflow: hidden;
  min-height: 20rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-small);

  @include common.mediaquery('desktop') {
    min-height: 25rem;
  }
}

.cropImage {
  box-shadow: var(--shadow-focus);
}

.info {
  text-align: left;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.saveOrAnotherImage {
  margin-top: 2rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  >button {
    flex-grow: 1;
  }

  @include common.mediaquery('desktop') {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.hiddenOnMobile {
  display: none;

  @include common.mediaquery('tablet') {
    display: initial;
  }
}