@use '/src/styles/common';

.previewContainer {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  @include common.mediaquery('desktop') {
    gap: 3rem;
  }
}

.previewButton {
  border: none;
  background-color: transparent;
  display: flex;
  border-radius: var(--radius-small);
  box-shadow: var(--shadow-secondary);
  justify-content: center;
  align-items: center;
  border: var(--border-gray);
  position: relative;

  &:hover > .deleteIconOverlay {
    opacity: 1;
  }
}

.imgPreview {
  object-fit: contain;
  border-radius: var(--radius-small);
  width: 100%;
  height: auto;
}

.emptySpace {
  background-color: var(--bg-secondary);
  color: var(--text-black);
  border-radius: var(--radius-small);
  box-shadow: var(--shadow-secondary);
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  justify-content: center;
  align-items: center;
  min-height: 5rem;
  border: var(--border-gray);

  > svg {
    width: 2rem;
    height: 2rem;
  }

  @include common.mediaquery('desktop') {
    min-height: 8rem;
  }
}

.deleteIcon {
  position: absolute;
  right: -0.75rem;
  top: -1rem;
  background-color: var(--color-secondary);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-primary);
  padding: 0.3rem;
  border: none;

  &:hover,
  &:focus {
    outline-offset: 3px;
    background-color: var(--color-error);
  }

  > svg {
    color: var(--color-icon-gray);
    width: 1.75rem;
    height: 1.75rem;
  }

  @include common.mediaquery('desktop') {
    right: -1.5rem;
    top: -1.5rem;

    > svg {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}
