@use '/src/styles/common';

.avatar {
  --avatar-size: 2rem;
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-shrink: 0;
  background-color: var(--color-primary);

  img {
    width: 100%;
    height: 100%;
  }
}

.xs {
  --avatar-size: 2rem;

  @include common.mediaquery('desktop') {
    --avatar-size: 2.5rem;
  }
}

.small {
  --avatar-size: 2.75rem;

  @include common.mediaquery('desktop') {
    --avatar-size: 3rem;
  }
}

.medium {
  --avatar-size: 3.5rem;

  @include common.mediaquery('desktop') {
    --avatar-size: 4.15rem;
  }
}

.big {
  --avatar-size: 6.5rem;

  @include common.mediaquery('desktop') {
    --avatar-size: 11rem;
  }
}

.noImage {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}