@use '/src/styles/common';

.closeButton {
  border: none;
  transition: all var(--transition);
  transition-property: background-color, box-shadow, color;
  position: relative;
  border-radius: 100%;
  padding: 0.5rem;
  background-color: var(--color-gray);

  @include common.mediaquery('desktop') {
    &:focus {
      outline: 0;
      box-shadow: 0 0 0 4px var(--color-primary), 0 0 0 6px var(--color-accent);
    }

    &:hover {
      background-color: var(--color-gray-hover);
    }
  }
}

.secondary {
  background-color: var(--color-text);
  color: var(--color-secondary);

  @include common.mediaquery('desktop') {
    &:hover {
      background-color: var(--color-secondary);
      color: var(--color-text);
    }
  }
}