@use '/src/styles/common';

.closeButton {
  background-color: transparent;
  border: none;
  background-color: var(--bg-secondary);
  border: none;
  padding: 0.4rem;
  border-radius: 100%;
  transition: all var(--transition-fast);
  transition-property: background-color, box-shadow, color;

  &:hover,
  &:focus {
    box-shadow: var(--shadow-focus);
    color: var(--color-white);
    background-color: var(--color-primary);
  }

  &:focus {
    outline: none;
  }
}

.closeButtonExternal {
  border-radius: var(--radius-medium);
  background-color: var(--bg-primary);
}