@use '/src/styles/common';

.list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 0.2rem 0.5rem;
  background-color: var(--bg-secondary);
  border-radius: 4rem;
  border: 1px solid var(--color-gray);

  @include common.mediaquery('desktop') {
    border-radius: 0;
    border: initial;
    background-color: transparent;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
  }
}

.listItem {
  display: flex;
  justify-content: center;
  align-items: center;

  @include common.mediaquery('desktop') {
    width: 100%;
    display: block;
  }
}

.listItemContent {
  display: flex;
  align-items: center;
  border-radius: var(--radius-medium);
  gap: 0.5rem;
  padding: 0.25rem;
  font-size: 1.25rem;
  transition: all var(--transition);
  transition-property: background-color, box-shadow;

  svg {
    width: 1.5rem;
    height: 1.5rem;
    stroke-width: 1.25;
  }

  @include common.mediaquery('desktop') {
    padding: 1rem 0.75rem;
    width: 100%;

    &:hover {
      background-color: var(--bg-secondary);
    }

    &:focus {
      background-color: var(--bg-secondary);
      box-shadow: var(--shadow-focus);
      outline: none;
    }
  }
}

.active {
  background-color: var(--bg-primary);
  font-weight: 700;

  svg {
    stroke-width: 2;
  }
}

.title {
  display: none;

  @include common.mediaquery('desktop') {
    text-transform: capitalize;
    display: unset;
  }
}