@use '/src/styles/common';

.list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 0.3rem 0.75rem;
  background-color: var(--bg-secondary);
  border-radius: 4rem;
  border: 1px solid var(--color-gray);

  @include common.mediaquery('desktop') {
    border-radius: 0;
    border: initial;
    background-color: transparent;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    gap: 2rem;
  }
}

.listItem {
  display: flex;
  justify-content: center;
  align-items: center;

  @include common.mediaquery('desktop') {
    display: block;
  }
}

.listItemContent {
  display: flex;
  align-items: center;
  border-radius: var(--radius-medium);
  gap: 0.75rem;
  padding: 0.25rem;
  font-size: 1.25rem;
  transition: all var(--transition);
  transition-property: background-color, box-shadow;

  svg {
    width: 1.5rem;
    height: 1.5rem;
    stroke-width: 2;
  }

  @include common.mediaquery('desktop') {
    border-radius: var(--radius-big);
    padding: 1rem;
    padding-right: 1.5rem;

    &:hover {
      background-color: var(--bg-secondary);
    }

    &:focus {
      background-color: var(--bg-secondary);
      box-shadow: var(--shadow-focus);
      outline: none;
    }
  }
}

.active {
  background-color: var(--bg-primary);
  font-weight: 700;

  svg {
    stroke-width: 2.5;
  }

  @include common.mediaquery('desktop') {
    background-color: var(--bg-secondary);
  }
}

.title {
  display: none;

  @include common.mediaquery('desktop') {
    text-transform: capitalize;
    display: unset;
  }
}
