@use '/styles/common.scss';

.header {
  display: flex;
  padding: 1rem 1.5rem;

  @include common.mediaquery('lg') {
    padding: 1rem 2rem;
  }
}

.avatar {
  width: 3rem;
  height: 3rem;

  @include common.mediaquery('lg') {
    height: 4rem;
    width: 4rem;
  }
}

.link {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.25rem;
  font-weight: 600;

  @include common.mediaquery('lg') {
    font-size: 1.5rem;
    gap: 1.5rem;
  }
}

.options {
  margin-left: auto;
  display: flex;
  background-color: transparent;
  border: 0;
  gap: 1.5rem;
  align-items: center;
}

.followBtn {
  padding: 0.75rem 1.25rem;
  font-size: 1.5rem;
}

.optionsButton {
  border: none;
  background-color: transparent;
  font-size: 2.5rem;
  display: block;

  @include common.mediaquery('lg') {
    font-size: 3rem;
  }
}

.no-margin-left {
  margin-left: 0;
}