@use '/styles/common.scss';

.header {
  margin: 1rem;
  display: flex;

  @include common.mediaquery('lg') {
    margin: 1rem 2rem;
  }
}

.link {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.25rem;
  font-weight: 600;

  @include common.mediaquery('lg') {
    font-size: 1.5rem;
  }
}

.options {
  margin-left: auto;
  display: flex;
  background-color: transparent;
  border: 0;
  gap: 1.5rem;
  align-items: center;
}

.followBtn {
  font-size: 1.5rem;
}

.optionsButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 2.5rem;
  display: block;

  @include common.mediaquery('lg') {
    font-size: 3rem;
  }
}

.no-margin-left {
  margin-left: 0;
}