@use '/styles/common';

.form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 0.5rem;
    border-radius: var(--radius-big);
    border: var(--border-gray);
    padding: 0 1rem;
    background-color: var(--bg-secondary);

    @include common.mediaquery('desktop') {
        max-width: 40%;
    }
}

.input {
    flex-grow: 1;
    padding: 1rem 0.5rem;
    border: none;
    background-color: transparent;
}