@use '/src/styles/common';

.chat {
  display: flex;
  flex-direction: column;
  position: relative;
  max-height: 90dvh;
  min-height: 70dvh;
  width: 100%;

  @include common.mediaquery('desktop') {
    width: clamp(23rem, 50vw, 50rem);
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
  background-color: var(--color-primary);
  width: var(--width);
  top: 0;
  z-index: 1;

  @include common.mediaquery('desktop') {
    margin-bottom: 0;
    padding: 1rem 3rem;
    gap: 3rem;
  }
}

.goBack {
  display: none;

  @include common.mediaquery('tablet') {
    display: initial;
  }
}

.headerHeading {
  font-size: 1.5rem;
  max-width: 10rem;
  overflow: hidden;
  text-overflow: ellipsis;

  @include common.mediaquery('tablet') {
    max-width: unset;
  }
}

.userHeader {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;

  @include common.mediaquery('desktop') {
    gap: 1rem;
  }
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-small);
  width: 100%;
  gap: 1rem;
  padding: 0 2rem;
  margin-top: 1rem;

  @include common.mediaquery('desktop') {
    margin-top: 2rem;
    gap: 2rem;
  }
}