@use '/src/styles/common';

.chat {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;

  @include common.mediaquery('desktop') {
    width: clamp(23rem, 50vw, 50rem);
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  background-color: var(--color-primary);
  width: var(--width);
  top: 0;
  z-index: 1;
  height: 3rem;
  margin-bottom: 1rem;

  @include common.mediaquery('desktop') {
    justify-content: flex-start;
    padding: 0.75rem 1.5rem;
    gap: 5rem;
    background-color: var(--color-secondary);
    border-radius: var(--radius-medium);
    box-shadow: var(--shadow-pimary);
    height: auto;
  }
}

.goBack {
  display: none;

  @include common.mediaquery('tablet') {
    display: initial;
  }
}

.headerHeading {
  font-size: 1.5rem;
  max-width: 10rem;
  overflow: hidden;
  text-overflow: ellipsis;

  @include common.mediaquery('tablet') {
    max-width: unset;
  }
}

.userHeader {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-small);
  width: 100%;
  gap: 1rem;
  padding: 0 1rem;
  max-height: 15rem;

  @include common.mediaquery('desktop') {
    gap: 2rem;
    background-color: var(--color-secondary);
    border-radius: var(--radius-medium);
    box-shadow: var(--shadow-pimary);
    padding: 0.25rem;
  }
}