@use '/styles/common.scss';

.cookies {
  position: fixed;
  --offset: 1rem;
  right: var(--offset);
  left: var(--offset);
  margin: auto;
  bottom: 5rem;
  max-width: 40ch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--bg-primary);
  padding: 1rem 2rem;
  gap: 1rem;
  z-index: 2;
  border-radius: var(--radius-small);
  border: var(--border-secondary);
  box-shadow: var(--shadow-primary);


  @include common.mediaquery('lg') {
    right: unset;
    bottom: 4rem;
    left: 4rem;
    gap: 2.5rem;
    padding: 2rem 3rem;
  }
}

.cookiesButtons {
  display: flex;
  gap: 2rem;
  width: 100%;
  justify-content: flex-start;
}