.list {
  display: flex;
  list-style: none;
  gap: 2rem;
  margin-top: 1rem;
}

.listItem {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.button {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 1.25rem;
}

.buttonsCount {
  display: flex;
}
