@use '/styles/common.scss';

%variables {
  --white: rgb(255, 255, 255);

  --color-primary: rgb(63, 114, 175);
  --color-secondary: rgb(137, 170, 231);
  --color-error: rgb(207, 60, 30);
  --color-disabled: rgb(63, 114, 175, 0.9);
  --color-gray: rgb(50, 50, 50, 0.15);

  --color-overlay: rgb(20, 20, 20, 0.4);

  --text-black: rgb(0, 0, 0);
  --text-gray: rgb(61, 61, 61);

  --filter-blur: blur(13px) saturate(1.2);

  --border-gray: 1px solid rgb(30, 30, 30, 0.1);

  --bg-primary: rgb(230, 230, 230);
  --bg-blur: rgb(255, 255, 255, 0.95);
  --bg-secondary: rgb(15, 20, 25, 0.1);

  --transition-fast: 0.4s ease;

  --shadow: rgba(0, 0, 0, 0.12) 0px -1px 3px 0px, rgba(0, 0, 0, 0.24) 0px 1px 2px 0px;
  --shadow-focus: 0 0 0 0.1rem var(--white), 0 0 0 0.3rem var(--color-primary);

  --radius-big: 1rem;
  --radius-medium: 0.5rem;
  --radius-small: 0.25rem;


  --header-width: 18rem;
  --post-width: 20rem;

  @include common.mediaquery('tablet') {
    --post-width: calc(13rem + 15vw);
  }

  @include common.mediaquery('desktop') {
    --post-width: calc(16rem + 15vw);
  }
}