@use '/styles/common.scss';

%variables {
  --color-primary: rgb(63, 114, 175);
  --color-secondary: rgb(137, 170, 231);
  --color-error: rgb(207, 60, 30);
  --color-white: rgb(248, 246, 246);
  --color-disabled: rgb(63, 114, 175, 0.9);
  --color-separator: rgb(133, 153, 173);

  --text-primary: rgb(17, 45, 78);
  --text-secondary: rgb(107, 107, 107);
  --text-placeholder: rgb(75, 73, 73);

  --bg-primary: rgb(255, 255, 255);
  --bg-secondary: rgb(249, 247, 247);
  --bg-gray: rgb(236, 236, 243);
  --bg-black: rgb(0, 0, 0);
  --bg-overlay: rgba(0, 0, 0, 0.67);
  --bg-error: rgba(224, 1, 1, 0.1);

  --border-primary-color: rgb(201, 201, 201);
  --border-secondary-color: rgb(219, 219, 219);
  --border-primary: 1px solid var(--border-primary-color);
  --border-secondary: 1px solid var(--border-secondary-color);

  --radius-small: 0.8rem;
  --radius-medium: 1.5rem;


  --shadow-primary: 0 4px 10px 2px rgba(0, 0, 0, 0.15);
  --shadow-secondary: 0 0 0 1px rgb(0, 0, 0, 12%), 0 2px 4px rgb(0, 0, 0, 5%), 0 12px 24px rgb(0, 0, 0, 5%);
  --shadow-focus: 0 0 0 0.35rem var(--bg-secondary), 0 0 0 0.65rem var(--color-primary);


  --itemSize: 2.75rem;
  --create-post-width: min(80rem, 80%);


  --postWidth: 20rem;

  @include common.mediaquery('lg') {
    --postWidth: 40rem;
    --itemSize: 3.5rem;
  }

  @include common.mediaquery('xl') {
    --postWidth: 45rem;
  }

}