@use 'common.scss';
@use 'variables';

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

html {
  display: grid;
  font-size: 62.5%;
  height: 100%;

  @include common.mediaquery('lg') {
    min-height: 100%;
    font-size: 50%;
  }

  @include common.mediaquery('xxl') {
    font-size: 62.5%;
  }
}

body {
  min-height: 100vh;
  font-size: clamp(100%, calc(1rem + 2vw), 24px);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--bg-secondary);
  color: var(--text-primary);
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

button {
  &:not(:disabled) {
    cursor: pointer;
  }
}

textarea,
button,
input {
  font: inherit;
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}


:root {
  @extend %variables;

}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}


.icon-tabler {
  width: 3.2rem;
  height: 3.2rem;
  stroke-width: 1.75;
}

#__next {
  isolation: isolate;
}



h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
}