@use '/src/styles/common';

.container {
  background-color: var(--bg-primary);
  border-radius: var(--radius-small);
  position: relative;
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 85%;

  @include common.mediaquery('tablet') {
    width: 60%;
  }

  @include common.mediaquery('desktop') {
    width: auto;
    gap: 2.5rem;
    padding: 1.5rem 5rem;
  }
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  > svg {
    --size: 2.5rem;
    width: var(--size);
    height: var(--size);
    color: var(--color-secondary);
  }
}

.buttonsRow {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
