@use '/src/styles/common';

.container {
  background-color: var(--bg-primary);
  border-radius: var(--radius-small);
  position: relative;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  width: 85%;

  @include common.mediaquery('tablet') {
    width: 60%;
  }

  @include common.mediaquery('desktop') {
    width: auto;
    gap: 2.5rem;
    padding: 2rem 5rem;
  }
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  >svg {
    --size: 3rem;
    width: var(--size);
    height: var(--size);
    color: var(--color-primary);
  }

  @include common.mediaquery('desktop') {
    gap: 1rem;

    >svg {
      --size: 3rem;
    }
  }
}

.buttonsRow {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}