.tooltipContent {
    z-index: 3;
    background-color: var(--color-primary);
    box-shadow: var(--shadow-border-small);
    border-radius: var(--radius-small);
    padding: 0.5rem;
}

.tooltipArrow {
    fill: var(--color-primary);
}