.editPost {
  width: min(85%, 50rem);
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  gap: 0rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
}