@use '/src/styles/common';

.notFound {
  text-align: center;
  margin-top: 4rem;
}

.list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: auto;
  max-height: 55dvh;
  width: 100%;
  margin: 0 auto;

  @include common.mediaquery('tablet') {
    gap: 1rem;
    margin: 0;
    margin-top: 4rem;
    max-height: 40rem;
  }
}

.listItem {
  width: 100%;
  display: flex;
}

.link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  border-radius: var(--radius-medium);
  background-color: var(--color-primary);
  padding: 0.5rem;
  width: 100%;
  transition: background-color var(--transition);


  @include common.mediaquery('desktop') {
    padding: 1rem;

    &:hover,
    &:focus {
      background-color: var(--color-secondary);
    }

    &:focus {
      outline: none;
      box-shadow: var(--shadow-focus);
    }

  }
}

.rightCol {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.username {
  max-width: 18rem;
  overflow: hidden;
  font-weight: 500;
  text-overflow: ellipsis;
  font-size: 1rem;
  padding-top: 0.25rem;
  color: var(--text-gray);

  @include common.mediaquery('desktop') {
    max-width: unset;
  }
}

.message {
  font-size: 0.9rem;
  color: var(--color-text-gray);
}

.separator {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--shadow-1);
  width: 95%;
  margin: auto;
}


.loading {
  justify-content: center;
  align-items: center;
}