@use '/src/styles/common';

.button {
  border-radius: var(--radius-small);
  padding: 0.4rem 0.8rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-weight: 700;
  border: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 0.5rem;
  font-size: 1rem;
  margin-left: 1.5rem;
  transition: all var(--transition);
  transition-property: transform, box-shadow;

  &::first-letter {
    text-transform: uppercase;
  }

  &:focus {
    outline: none;
  }

  &:hover,
  &:focus {
    transform: scale(1.05);
    box-shadow: var(--shadow-focus);
  }

  @include common.mediaquery('desktop') {
    padding: 0.45rem 0.9rem;
    margin-left: 0.75rem;
    margin-top: 1.5rem;
    font-size: 1.5rem;
    border-radius: var(--radius-medium);
  }
}
