@use '/styles/common.scss';

.homePost {
    border-radius: var(--radius-small);
    width: var(--post-width);
    border: var(--border-gray);

    @include common.mediaquery('desktop') {
        border-radius: var(--radius-big);
    }
}