@use '@/styles/common.scss';

.container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1.5rem;
    background-color: var(--bg-primary);
    overflow-y: auto;
    padding: 1rem 1rem;
    padding-bottom: 3rem;
    z-index: 1;
    width: 100%;
    height: 100%;

    @include common.mediaquery('desktop') {
        padding: 2rem 4rem;
        padding-left: 9rem;
        gap: 3rem;
    }
}

.heading {
    text-align: center;

    @include common.mediaquery('desktop') {
        text-align: left;
    }
}