@use '/src/styles/common';

.container {
  gap: 1.5rem;
  overflow-y: auto;
  z-index: 1;
  height: 100%;
  margin-inline: auto;
  padding: 1rem;
  width: 100%;
  padding-bottom: 7rem;

  @include common.mediaquery('desktop') {
    gap: 3rem;
    padding-top: 2rem;
    margin: 0 auto;
    width: clamp(23rem, 70%, 45rem);
  }
}

.heading {
  text-align: center;

  @include common.mediaquery('desktop') {
    text-align: left;
  }
}