@use '/src/styles/common';

.container {
  gap: 1.5rem;
  z-index: 1;
  height: 100%;
  margin-inline: auto;
  padding: 1rem;
  padding-top: 0;
  width: 100%;
  padding-bottom: 6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @include common.mediaquery('tablet') {
    gap: 3rem;
    margin: 0 auto;
    max-width: 45rem;
    padding: 0;
    padding-right: 5rem;
  }
}