@use '/src/styles/common';

.container {
  gap: 1.5rem;
  overflow-y: auto;
  z-index: 1;
  height: 100%;
  margin-inline: auto;
  padding: 1rem;
  padding-top: 0;
  width: 100%;
  padding-bottom: 6rem;

  @include common.mediaquery('tablet') {
    gap: 3rem;
    margin: 0 auto;
    width: clamp(23rem, 40vw, 40rem);
  }
}