@use '/src/styles/common';

.container {
  gap: 1.5rem;
  background-color: var(--bg-primary);
  overflow-y: auto;
  padding: 1rem 1rem;
  padding-bottom: 3rem;
  z-index: 1;
  height: 100%;
  margin-inline: auto;
  width: clamp(25rem, 70%, 45rem);

  @include common.mediaquery('desktop') {
    gap: 3rem;
    padding-top: 2rem;
    margin: 0 auto;
  }
}

.heading {
  text-align: center;

  @include common.mediaquery('desktop') {
    text-align: left;
  }
}